Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, subtitle-processing, webui, config, docker, scripts, tests, dependencies, security

fix: update permissions for issue management workflow to include commit status updates
  .github/workflows/issue-management.yml
Labels: none

fix: update permissions for build workflows to include id-token and attestations
  .github/workflows/build-assets.yml
  .github/workflows/docker-build.yml
Labels: none

test(webserver): add batch sync endpoint test
  .github/issue-updates/fcb67137-6abf-46c8-b399-7d83ac019844.json
  pkg/webserver/server_test.go
Labels: go, tests

test(webserver): add batch sync endpoint test
  .github/issue-updates/fcb67137-6abf-46c8-b399-7d83ac019844.json
  pkg/webserver/server_test.go
Labels: go, tests

feat(cli): add base-url flag
  README.md
  cmd/root.go
Labels: documentation, go

feat(cli): add base-url flag
  README.md
  cmd/root.go
Labels: documentation, go

feat(cli): add radarr-sync command
  .github/issue-updates/928ae2f4-a775-4a42-b985-09f08813b8fa.json
  CHANGELOG.md
  README.md
  TODO.md
  scripts/create-issue-update-library.sh
Labels: documentation, scripts

feat(cli): add radarr-sync command
  .github/issue-updates/928ae2f4-a775-4a42-b985-09f08813b8fa.json
  CHANGELOG.md
  README.md
  TODO.md
  scripts/create-issue-update-library.sh
Labels: documentation, scripts

chore: add Super Linter configuration for subtitle-manager
  .github/linters/.markdownlint.json
  .github/super-linter.env
Labels: none

feat(sync): log conflicts during Sonarr/Radarr sync
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json.backup
  TODO.md
  scripts/create-issue-update-library.sh
Labels: documentation, scripts

feat(sync): log conflicts during Sonarr/Radarr sync
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json.backup
  TODO.md
  scripts/create-issue-update-library.sh
Labels: documentation, scripts

fix: clean up whitespace in create-issue-update-library.sh script
  TODO.md
  scripts/create-issue-update-library.sh
Labels: documentation, scripts

feat(metadata): honor field locks during refresh
  .github/issue-updates/d59e71ae-48d5-4b51-aeb6-df8f3f429cfa.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/maintenance/maintenance.go
  pkg/maintenance/maintenance_test.go
  pkg/metadata/metadata.go
Labels: documentation, go, tests

feat(metadata): honor field locks during refresh
  .github/issue-updates/d59e71ae-48d5-4b51-aeb6-df8f3f429cfa.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/maintenance/maintenance.go
  pkg/maintenance/maintenance_test.go
  pkg/metadata/metadata.go
Labels: documentation, go, tests

feat(cli): add interactive metadata fetch
  .github/issue-updates/dfd21466-0bc0-4ff4-8e50-a87ff0f5e9f3.json
  CHANGELOG.md
  README.md
  TODO.md
  cmd/metadata.go
  pkg/metadata/metadata.go
  scripts/create-issue-update-library.sh
Labels: documentation, go, scripts

feat(cli): add interactive metadata fetch
  .github/issue-updates/dfd21466-0bc0-4ff4-8e50-a87ff0f5e9f3.json
  CHANGELOG.md
  README.md
  TODO.md
  cmd/metadata.go
  pkg/metadata/metadata.go
  scripts/create-issue-update-library.sh
Labels: documentation, go, scripts

feat(scripts): enhance GitHub project automation
  .github/doc-updates/1f85ac0a-d8ad-4035-a780-cbce95970510.json
  .github/doc-updates/47ce187b-69e1-4a5a-a0b2-16286f56a48f.json
  .github/doc-updates/8414dbb3-d662-4f2e-af87-fae0f2f09596.json
  .github/doc-updates/8facb537-f8f0-437f-85ce-b1759b8a783d.json
  .github/doc-updates/d01065ff-c495-424d-aaa8-c688eba682db.json
  .github/doc-updates/e26068d8-38e3-414d-960e-d26d833afd2e.json
  .github/issue-updates/07ce61bc-fbc6-4289-b362-b59193c7760f.json
  scripts/create-github-projects.sh
Labels: scripts

feat(scripts): enhance GitHub project automation
  .github/doc-updates/1f85ac0a-d8ad-4035-a780-cbce95970510.json
  .github/doc-updates/47ce187b-69e1-4a5a-a0b2-16286f56a48f.json
  .github/doc-updates/8414dbb3-d662-4f2e-af87-fae0f2f09596.json
  .github/doc-updates/8facb537-f8f0-437f-85ce-b1759b8a783d.json
  .github/doc-updates/d01065ff-c495-424d-aaa8-c688eba682db.json
  .github/doc-updates/e26068d8-38e3-414d-960e-d26d833afd2e.json
  .github/issue-updates/07ce61bc-fbc6-4289-b362-b59193c7760f.json
  scripts/create-github-projects.sh
Labels: scripts

feat(scripts): enhance GitHub project automation
  .github/doc-updates/1f85ac0a-d8ad-4035-a780-cbce95970510.json
  .github/doc-updates/47ce187b-69e1-4a5a-a0b2-16286f56a48f.json
  .github/doc-updates/8414dbb3-d662-4f2e-af87-fae0f2f09596.json
  .github/doc-updates/8facb537-f8f0-437f-85ce-b1759b8a783d.json
  .github/doc-updates/d01065ff-c495-424d-aaa8-c688eba682db.json
  .github/doc-updates/e26068d8-38e3-414d-960e-d26d833afd2e.json
  .github/issue-updates/07ce61bc-fbc6-4289-b362-b59193c7760f.json
  scripts/create-github-projects.sh
Labels: scripts

feat: add Super Linter PR Comment script for linting results and auto-fix information
  .github/scripts/super-linter-pr-comment.js
Labels: webui

fix: update Super Linter configuration comments for clarity
  .github/super-linter.env
Labels: none

fix: update project creation script for improved error handling and output
  scripts/create-github-projects.sh
Labels: scripts

feat(cli): add caching to search command
  .github/doc-updates/844c4c00-e395-4340-8f75-5b9b6af5708d.json
  .github/doc-updates/c9dee2b0-6919-4adf-8578-31db090a148b.json
  .github/doc-updates/cbac96a1-5d7e-43c9-b638-a4d068b0d6e8.json
  .github/issue-updates/a39a0988-bfa8-4cfa-b1ec-893b054f8f51.json
  cmd/search.go
Labels: go

fix(webserver): normalize providers order in search cache
  .github/doc-updates/72eea784-e3b4-4679-be52-92b997bc74ea.json
  .github/doc-updates/9e63dbc5-a78f-45fd-8030-8f173a7e697b.json
  .github/doc-updates/fa4e6c96-5dcb-4d0e-96e7-3d999bf85887.json
  .github/issue-updates/89ab9ba6-69eb-450c-9f05-319b6dbd8b23.json
  pkg/webserver/metrics_test.go
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: go, tests

feat(webserver): normalize search cache key
  .github/doc-updates/639d19a9-597a-4c96-81cc-754a2fe0eb8c.json
  .github/doc-updates/74ea68d7-ee85-42e8-8a42-af5bc1e47789.json
  .github/doc-updates/fe0abd47-d601-4703-9410-8d15e076e71a.json
  .github/issue-updates/10f0c4eb-8cdc-4476-bab1-bcea5ab7a4fd.json
  pkg/webserver/metrics_test.go
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: go, tests

feat: cache cli search results
  .github/doc-updates/0fc862dc-14fa-4edd-a7bd-646fad4b0d34.json
  .github/doc-updates/7e47ae90-de47-41c2-b222-94a566c2360e.json
  .github/doc-updates/ae55255f-fbc7-4717-b540-b8c02a9bb207.json
  .github/issue-updates/4580a2d8-400b-46f1-a540-997691a9c457.json
  cmd/search.go
Labels: go

feat(translator): cache translation results
  .github/doc-updates/3cfacf5d-555b-4ac6-a315-b10ebc832be5.json
  .github/doc-updates/c508a8ce-22ef-44b7-a99d-12d83bcc3830.json
  .github/doc-updates/ec6d47f6-6d8e-4360-9e08-247ca13b2954.json
  .github/issue-updates/d040a70d-11cf-4888-8578-4df6afca69dc.json
  pkg/translator/translator.go
  pkg/translator/translator_test.go
  pkg/webserver/metrics_test.go
Labels: go, tests

feat(translator): add supported services helper
  .github/doc-updates/869ea3da-f007-4d94-b9fa-98ed423b951d.json
  .github/doc-updates/a218448d-64ab-4720-b113-dcb7a82af924.json
  .github/doc-updates/da4d7696-86e4-461c-922e-8a71434f425f.json
  .github/issue-updates/b2b20c3b-fd5b-400b-acf6-174fad77e426.json
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: go, tests

feat(search): add per-ip rate limiting
  .doc-update-stats.json
  .github/issue-updates/bbc41203-40b5-4e2a-92e5-8bcdf5816ce5.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: documentation, go, config, tests

fix(core): remove duplicate flag definitions
  .github/doc-updates/218bece4-0d94-4503-8a35-d1ef7466a192.json
  .github/doc-updates/69e1877b-b708-4e59-be34-971b632b661b.json
  .github/doc-updates/84be7733-f34f-4bf0-b015-a7f5b4b5fbfa.json
  .github/issue-updates/0d28197b-41f1-4162-954c-bdc9c5416158.json
  cmd/root.go
  pkg/webserver/metrics_test.go
Labels: go, tests

feat: add whisper container control commands
  .github/doc-updates/07377037-a8ca-4385-aa26-ba35560b1217.json
  .github/doc-updates/262e134a-2e85-4c67-a3f0-b552f0daec07.json
  .github/doc-updates/70658146-8c32-4836-9cea-4ee7318da2b7.json
  .github/issue-updates/adacdbac-7516-45c3-9ef7-8843dc7e1f92.json
  cmd/whisper.go
  cmd/whisper_cmd_test.go
Labels: go, tests

fix(core): add grpc timeouts and clean flags
  .github/doc-updates/123057f7-4a84-4a5c-985b-eae2b7c571de.json
  .github/doc-updates/643acd6e-7a6d-4a94-a4c5-85cc0aa92b17.json
  .github/doc-updates/dbbe05a0-2e6b-49e9-a1f2-6f4d098e48d4.json
  .github/issue-updates/02aa6c46-37da-4aab-98e1-cea07fc05e8e.json
  cmd/root.go
  pkg/translator/translator.go
  pkg/webserver/metrics_test.go
Labels: go, tests

feat(cli): add whisper container management
  .github/doc-updates/0652904d-dbd8-430b-bac6-fe73c49ed042.json
  .github/doc-updates/34acf74c-d049-4358-ac62-dfa1255f56b8.json
  .github/doc-updates/b28ebe0f-7818-419e-b97f-34d70eb52801.json
  .github/issue-updates/bff98c1f-f9ec-431d-96cd-5b5323fef0b3.json
  cmd/root.go
  cmd/whisper.go
  pkg/webserver/metrics_test.go
Labels: go, tests

feat(syncer): compute median offset for improved accuracy
  .github/doc-updates/4d2b1a97-045b-4367-8d14-fda613b87227.json
  .github/doc-updates/9661e647-db72-4b75-9978-b7403337475a.json
  .github/doc-updates/ae817652-58c4-41a0-b6fe-02c1ea372bd8.json
  .github/issue-updates/beb3d080-0996-4a92-8c4e-39c8d033b870.json
  pkg/syncer/syncer.go
  pkg/syncer/syncer_test.go
  pkg/webserver/metrics_test.go
Labels: go, tests

feat(cli): add caching to search command
  .github/doc-updates/844c4c00-e395-4340-8f75-5b9b6af5708d.json
  .github/doc-updates/c9dee2b0-6919-4adf-8578-31db090a148b.json
  .github/doc-updates/cbac96a1-5d7e-43c9-b638-a4d068b0d6e8.json
  .github/issue-updates/a39a0988-bfa8-4cfa-b1ec-893b054f8f51.json
  cmd/search.go
Labels: go

fix(webserver): normalize providers order in search cache
  .github/doc-updates/72eea784-e3b4-4679-be52-92b997bc74ea.json
  .github/doc-updates/9e63dbc5-a78f-45fd-8030-8f173a7e697b.json
  .github/doc-updates/fa4e6c96-5dcb-4d0e-96e7-3d999bf85887.json
  .github/issue-updates/89ab9ba6-69eb-450c-9f05-319b6dbd8b23.json
  pkg/webserver/metrics_test.go
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: go, tests

feat(translator): add supported services helper
  .github/doc-updates/869ea3da-f007-4d94-b9fa-98ed423b951d.json
  .github/doc-updates/a218448d-64ab-4720-b113-dcb7a82af924.json
  .github/doc-updates/da4d7696-86e4-461c-922e-8a71434f425f.json
  .github/issue-updates/b2b20c3b-fd5b-400b-acf6-174fad77e426.json
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: go, tests

ci: remove add-to-project workflow
  .github/doc-updates/1474611c-63fc-4fc0-88cb-a7e81f63d3a3.json
  .github/doc-updates/8db50f78-cc54-473f-a26b-40621a047fdd.json
  .github/doc-updates/d6c40fba-a416-4258-8d67-2dbbee261c27.json
  .github/issue-updates/3728c0e9-471c-4eea-b6bd-8de4319a3228.json
  .github/workflows/add-to-project.yml
Labels: none

ci: remove add-to-project workflow
  .github/doc-updates/1474611c-63fc-4fc0-88cb-a7e81f63d3a3.json
  .github/doc-updates/8db50f78-cc54-473f-a26b-40621a047fdd.json
  .github/doc-updates/d6c40fba-a416-4258-8d67-2dbbee261c27.json
  .github/issue-updates/3728c0e9-471c-4eea-b6bd-8de4319a3228.json
  .github/workflows/add-to-project.yml
Labels: none

ci: add fix merge conflicts workflow
  .github/doc-updates/2434b04a-0531-4982-9357-7d27da99421e.json
  .github/doc-updates/b40cee14-75c6-486f-8488-d7a4d39ac934.json
  .github/doc-updates/c93e5e91-6de7-4bb7-ba95-b0f107adb5b7.json
  .github/issue-updates/6395e348-c14d-48aa-8eb1-a7cf066f192a.json
  .github/workflows/fix-merge-conflicts.yml
Labels: none

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: a7b8c9d0-e1f2-43a4-b5c6-d7e8f9a0b1c2
#
# Pull Request Labeler Configuration for subtitle-manager repository
# Automatically label pull requests based on changed files or branch names

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CHANGELOG.md"
          - "TODO.md"
          - "SECURITY.md"
          - "docs/**"
          - "**/*.md"

# Go backend changes
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"
          - "main.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/subtitle/**"
          - "pkg/format/**"
          - "cmd/convert/**"
          - "**/*subtitle*"
          - "**/*convert*"

# Web UI changes
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/webui/**"
          - "templates/**"
          - "static/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "*.yaml"
          - "*.yml"
          - "*.json"
          - "*.toml"
          - ".gitignore"
          - ".env*"
          - "Makefile"
          - "docker-compose.yml"
          - "Dockerfile*"

# Docker and deployment
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "docker-stack*.yml"
          - "docker-init.sh"
          - ".dockerignore"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "test/**"
          - "tests/**"
          - "test-*.html"

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - "**/*security*"
          - "**/*auth*"

# Feature branches
feature:
  - head-branch:
      - any-glob-to-any-file: ["feature/*", "feat/*"]

# Bug fix branches
bugfix:
  - head-branch:
      - any-glob-to-any-file: ["fix/*", "bugfix/*", "hotfix/*"]

# Breaking changes
breaking-change:
  - head-branch:
      - any-glob-to-any-file: ["breaking/*"]
