Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:javascript, tech:docker, tech:shell, tech:python, module:frontend, module:backend, module:database, module:api, module:auth, project:subtitles, project:transcription, project:whisper, project:media, workflow:github-actions, github-actions, workflow:automation, automation, workflow:deployment

fix(webui): add missing testing-library dependency
  .github/doc-updates/4812975a-39b5-40c0-9a8c-f572e201bf0b.json
  .github/doc-updates/5f8c94c0-0835-4612-8227-9e58dd9e5e30.json
  .github/doc-updates/825bc9e6-2dd0-4fe7-b3ba-10fb223b7be8.json
  .github/doc-updates/8ac582d4-5cf2-4b6d-aec2-e878407204f6.json
  .github/doc-updates/c08a14b6-30a3-4b16-aa68-c65679d12cef.json
  .github/doc-updates/ed7b21cb-f811-45ae-877b-34540c11e5eb.json
  webui/package-lock.json
  webui/package.json
  webui/src/components/DirectoryChooser.jsx
Labels: tech:javascript, module:frontend

feat(search): finalize search handler improvements
  .github/doc-updates/05983ec4-51ac-4d2d-80f7-062a804c9e81.json
  .github/doc-updates/11365210-d35c-453d-8d2f-253561bd65cb.json
  .github/doc-updates/1f718211-9538-4903-99f1-eed071b99723.json
  .github/doc-updates/5d794630-7481-4cf1-8c6f-3085d0717bfe.json
  .github/doc-updates/86c8c830-9126-49ce-a120-8a706e74eec6.json
  .github/doc-updates/9e2509a0-cf24-46f4-ba4d-1ae5da449a73.json
  .github/issue-updates/5f482469-533c-48c3-b5bf-1fc9ef8cd191.json
  go.mod
  pkg/webserver/search.go
Labels: type:maintenance, tech:go, module:backend

feat(search): finalize search handler improvements
  .github/doc-updates/05983ec4-51ac-4d2d-80f7-062a804c9e81.json
  .github/doc-updates/11365210-d35c-453d-8d2f-253561bd65cb.json
  .github/doc-updates/1f718211-9538-4903-99f1-eed071b99723.json
  .github/doc-updates/5d794630-7481-4cf1-8c6f-3085d0717bfe.json
  .github/doc-updates/86c8c830-9126-49ce-a120-8a706e74eec6.json
  .github/doc-updates/9e2509a0-cf24-46f4-ba4d-1ae5da449a73.json
  .github/issue-updates/5f482469-533c-48c3-b5bf-1fc9ef8cd191.json
  go.mod
  pkg/webserver/search.go
Labels: type:maintenance, tech:go, module:backend

feat(metrics): add gcommon optional provider
  .github/doc-updates/13bdd4a4-0694-4d06-bb0c-7a396be5726e.json
  .github/doc-updates/20a8a4f7-e2a0-4cac-bec6-9ac164fe763b.json
  .github/doc-updates/e82e850c-53ce-4176-929a-5ce03bab711f.json
  .github/issue-updates/04b386a3-169f-4890-99dc-c60c77aa6457.json
  .github/issue-updates/7c582a2a-d967-4303-b58d-7eacae2c47ab.json
  pkg/metrics/metrics.go
  pkg/metrics/metrics_gcommon.go
Labels: tech:go, module:backend

feat(metrics): add gcommon optional provider
  .github/doc-updates/13bdd4a4-0694-4d06-bb0c-7a396be5726e.json
  .github/doc-updates/20a8a4f7-e2a0-4cac-bec6-9ac164fe763b.json
  .github/doc-updates/e82e850c-53ce-4176-929a-5ce03bab711f.json
  .github/issue-updates/04b386a3-169f-4890-99dc-c60c77aa6457.json
  .github/issue-updates/7c582a2a-d967-4303-b58d-7eacae2c47ab.json
  pkg/metrics/metrics.go
  pkg/metrics/metrics_gcommon.go
Labels: tech:go, module:backend

feat(metrics): integrate gcommon metrics
  .github/doc-updates/142d09d7-3e2e-4bcd-b3a8-d3cee2bc166c.json
  .github/doc-updates/272303ce-61ee-4b74-8ec0-0a99e2055b4a.json
  .github/doc-updates/2768ac23-6f5f-4a9f-98c2-a0de095f4fca.json
  .github/doc-updates/9044fb33-c45f-443a-80d5-b862616481ee.json
  .github/doc-updates/94241344-1820-4d2e-85f7-701a07c8762c.json
  .github/doc-updates/ce1d3053-0111-4ebc-9027-7e35a15df584.json
  .github/doc-updates/eeac082c-8ab9-4f83-9620-8200e4f16be2.json
  .github/issue-updates/49706efa-24b1-450d-9be7-f8a129423200.json
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webserver/download.go
  pkg/webserver/health.go
  pkg/webserver/metrics_test.go
  pkg/webserver/server.go
  pkg/webserver/translate.go
Labels: type:testing, tech:go, module:backend

feat(metrics): integrate gcommon metrics
  .github/doc-updates/142d09d7-3e2e-4bcd-b3a8-d3cee2bc166c.json
  .github/doc-updates/272303ce-61ee-4b74-8ec0-0a99e2055b4a.json
  .github/doc-updates/2768ac23-6f5f-4a9f-98c2-a0de095f4fca.json
  .github/doc-updates/9044fb33-c45f-443a-80d5-b862616481ee.json
  .github/doc-updates/94241344-1820-4d2e-85f7-701a07c8762c.json
  .github/doc-updates/ce1d3053-0111-4ebc-9027-7e35a15df584.json
  .github/doc-updates/eeac082c-8ab9-4f83-9620-8200e4f16be2.json
  .github/issue-updates/49706efa-24b1-450d-9be7-f8a129423200.json
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webserver/download.go
  pkg/webserver/health.go
  pkg/webserver/metrics_test.go
  pkg/webserver/server.go
  pkg/webserver/translate.go
Labels: type:testing, tech:go, module:backend

feat(automation): create project board automation issue
  .github/doc-updates/14690794-7888-47d6-8b6a-201c64e5d305.json
  .github/doc-updates/2379e1e5-da64-453c-bacf-5109b79ec9d4.json
  .github/doc-updates/51926021-e0fc-453a-86cc-e8c6eba5da89.json
  .github/doc-updates/9bf2e90f-9912-42dc-94b1-5abd118b9344.json
  .github/doc-updates/b41c712e-1b57-4758-8809-6ed6b0378703.json
  .github/doc-updates/e2eabd0e-2d12-49c9-820b-098249d31780.json
  .github/issue-updates/9665a88f-6a66-4f44-bc53-c7fc51e5e3ca.json
  scripts/create-github-projects.sh
Labels: tech:shell, workflow:automation, automation

feat(automation): create project board automation issue
  .github/doc-updates/14690794-7888-47d6-8b6a-201c64e5d305.json
  .github/doc-updates/2379e1e5-da64-453c-bacf-5109b79ec9d4.json
  .github/doc-updates/51926021-e0fc-453a-86cc-e8c6eba5da89.json
  .github/doc-updates/9bf2e90f-9912-42dc-94b1-5abd118b9344.json
  .github/doc-updates/b41c712e-1b57-4758-8809-6ed6b0378703.json
  .github/doc-updates/e2eabd0e-2d12-49c9-820b-098249d31780.json
  .github/issue-updates/9665a88f-6a66-4f44-bc53-c7fc51e5e3ca.json
  scripts/create-github-projects.sh
Labels: tech:shell, workflow:automation, automation

chore(issues): create ticket for DB download updates
  .github/doc-updates/066cc0e0-a691-4f03-837a-52baf571925b.json
  .github/doc-updates/483f49c6-69a4-42e2-923f-cadd408725f8.json
  .github/doc-updates/9533ff05-0e3d-4024-846e-8d919b69722b.json
  .github/issue-updates/8f8d536f-00b5-4bd2-8f69-49ec6d74793f.json
  pkg/database/metadata_helpers.go
Labels: tech:go, module:backend, module:database

chore(issues): create ticket for DB download updates
  .github/doc-updates/066cc0e0-a691-4f03-837a-52baf571925b.json
  .github/doc-updates/483f49c6-69a4-42e2-923f-cadd408725f8.json
  .github/doc-updates/9533ff05-0e3d-4024-846e-8d919b69722b.json
  .github/issue-updates/8f8d536f-00b5-4bd2-8f69-49ec6d74793f.json
  pkg/database/metadata_helpers.go
Labels: tech:go, module:backend, module:database

docs(queue): track gcommon configuration issue
  .github/doc-updates/2044a2b2-deab-41f4-bea8-5d501255e7d5.json
  .github/doc-updates/50068dfe-5472-49d1-9969-b9d03c9616a6.json
  .github/doc-updates/b8044a85-5653-4b2f-88ca-0c0ae2cc4360.json
  .github/issue-updates/8e03546c-a282-48b9-9ee3-eb52f781f1c1.json
Labels: none

docs(queue): track gcommon configuration issue
  .github/doc-updates/2044a2b2-deab-41f4-bea8-5d501255e7d5.json
  .github/doc-updates/50068dfe-5472-49d1-9969-b9d03c9616a6.json
  .github/doc-updates/b8044a85-5653-4b2f-88ca-0c0ae2cc4360.json
  .github/issue-updates/8e03546c-a282-48b9-9ee3-eb52f781f1c1.json
Labels: none

feat(monitor): support cron schedule
  .github/doc-updates/7b795eec-3eb7-40d4-9076-93cf6c574a9c.json
  .github/doc-updates/82244e2d-d47f-4fbd-bdb8-dbd406c8c7c7.json
  .github/doc-updates/9e76139d-a768-430e-a2bb-c4bbc8daefa2.json
  cmd/monitor.go
  pkg/monitoring/scheduler.go
Labels: tech:go, module:backend

feat(monitor): support cron schedule
  .github/doc-updates/7b795eec-3eb7-40d4-9076-93cf6c574a9c.json
  .github/doc-updates/82244e2d-d47f-4fbd-bdb8-dbd406c8c7c7.json
  .github/doc-updates/9e76139d-a768-430e-a2bb-c4bbc8daefa2.json
  cmd/monitor.go
  pkg/monitoring/scheduler.go
Labels: tech:go, module:backend

style(proto): format translator bindings
  .github/doc-updates/41bb381b-5707-4a59-b435-70ee11874d11.json
  .github/doc-updates/9d187cc3-f1f7-4291-98b6-62968e922173.json
  .github/doc-updates/f5a56599-e6fa-4fe8-bf2b-3492d61d50a0.json
  .github/issue-updates/d9348c68-dc9b-4c8e-bed1-66a28e5e747e.json
  CHANGELOG.md
  README.md
  TODO.md
  cmd/grpcserver/main.go
  cmd/grpcserver_cmd.go
  cmd/grpcserver_cmd_test.go
  cmd/grpcsetconfig.go
  go.mod
  pkg/grpcserver/server.go
  pkg/grpcserver/server_test.go
  pkg/syncer/syncer_test.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
  pkg/translatorpb/proto/translator.pb.go
  pkg/translatorpb/proto/translator_grpc.pb.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_grpc.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  proto/translator.proto
Labels: type:documentation, type:testing, type:maintenance, tech:go, module:backend

style(proto): format translator bindings
  .github/doc-updates/41bb381b-5707-4a59-b435-70ee11874d11.json
  .github/doc-updates/9d187cc3-f1f7-4291-98b6-62968e922173.json
  .github/doc-updates/f5a56599-e6fa-4fe8-bf2b-3492d61d50a0.json
  .github/issue-updates/d9348c68-dc9b-4c8e-bed1-66a28e5e747e.json
  CHANGELOG.md
  README.md
  TODO.md
  cmd/grpcserver/main.go
  cmd/grpcserver_cmd.go
  cmd/grpcserver_cmd_test.go
  cmd/grpcsetconfig.go
  go.mod
  pkg/grpcserver/server.go
  pkg/grpcserver/server_test.go
  pkg/syncer/syncer_test.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
  pkg/translatorpb/proto/translator.pb.go
  pkg/translatorpb/proto/translator_grpc.pb.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_grpc.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  proto/translator.proto
Labels: type:documentation, type:testing, type:maintenance, tech:go, module:backend

chore needs fixing
  .github/doc-updates/26b1d3c2-e151-4d9e-885b-989b23cacd6b.json
  .github/doc-updates/3d163431-589e-44bf-8729-20c64050321e.json
  .github/doc-updates/bbcf3b7c-edc9-4def-ab4a-05325f9482ed.json
  .github/issue-updates/4d471c5b-98f1-49ab-b7f5-f3ec03589630.json
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

chore(workflow): update unified automation workflow version and triggers
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

chore(issue): create update for CLI search cache key fix
  .github/doc-updates/0315a284-735d-46ba-a899-3939d9398c61.json
  .github/doc-updates/20b170e2-745e-44a7-a498-c92dbf4a20c9.json
  .github/doc-updates/e32214bf-5d8a-45ec-9f00-69d654fdad76.json
  .github/issue-updates/7c33ad6e-76ab-4455-8517-733fd9e159e8.json
  cmd/search.go
  cmd/search_cache_key_test.go
Labels: type:testing, tech:go, module:backend

chore(issue): create update for CLI search cache key fix
  .github/doc-updates/0315a284-735d-46ba-a899-3939d9398c61.json
  .github/doc-updates/20b170e2-745e-44a7-a498-c92dbf4a20c9.json
  .github/doc-updates/e32214bf-5d8a-45ec-9f00-69d654fdad76.json
  .github/issue-updates/7c33ad6e-76ab-4455-8517-733fd9e159e8.json
  cmd/search.go
  cmd/search_cache_key_test.go
Labels: type:testing, tech:go, module:backend

chore needs fixing
  .github/doc-updates/26b1d3c2-e151-4d9e-885b-989b23cacd6b.json
  .github/doc-updates/3d163431-589e-44bf-8729-20c64050321e.json
  .github/doc-updates/bbcf3b7c-edc9-4def-ab4a-05325f9482ed.json
  .github/issue-updates/4d471c5b-98f1-49ab-b7f5-f3ec03589630.json
Labels: none

chore needs fixing
  .github/doc-updates/26b1d3c2-e151-4d9e-885b-989b23cacd6b.json
  .github/doc-updates/3d163431-589e-44bf-8729-20c64050321e.json
  .github/doc-updates/bbcf3b7c-edc9-4def-ab4a-05325f9482ed.json
  .github/issue-updates/4d471c5b-98f1-49ab-b7f5-f3ec03589630.json
Labels: none

ci(workflow): update version and simplify secret handling
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

fix(issue-updates): correct issue number format in JSON
  .github/issue-updates/6de40e00-17fd-49bb-9a28-36e1c6743bb4.json
Labels: none

chore(workflow): update version number in unified-automation.yml
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

feat(labeling): implement intelligent issue labeling configuration
  .github/intelligent-labeling.yml
  .github/workflows/intelligent-labeling.yml
Labels: workflow:github-actions, github-actions

feat(workflow): add intelligent-labeling option to automation
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

chore(issue-updates): clean up issue metadata
  .github/issue-updates/0927ae0b-1052-4ef1-b180-e849d2676873.json
  .github/issue-updates/1a4213e9-266f-4dbf-b937-ff3545b62e94.json
  .github/issue-updates/46f4d540-3aee-4e23-9bc3-21f0edcf8e25.json
  .github/issue-updates/4d471c5b-98f1-49ab-b7f5-f3ec03589630.json
  .github/issue-updates/6de40e00-17fd-49bb-9a28-36e1c6743bb4.json
  .github/issue-updates/7c33ad6e-76ab-4455-8517-733fd9e159e8.json
Labels: none

docs(issues): create issue for gRPC context timeout
  .github/doc-updates/2a69ad12-9fee-4c8f-8c3a-fa104ee3cb3d.json
  .github/doc-updates/385f9735-f666-4ba2-9e4c-bdecf8b7a6f8.json
  .github/doc-updates/612988cf-f6ee-4bef-9599-a9749e39990f.json
  .github/issue-updates/fefbd248-b34b-4d4b-81ce-a6bd076c3cf1.json
  cmd/grpcserver_cmd_test.go
  cmd/grpcsetconfig.go
Labels: type:testing, tech:go, module:backend

docs(issues): create issue for gRPC context timeout
  .github/doc-updates/2a69ad12-9fee-4c8f-8c3a-fa104ee3cb3d.json
  .github/doc-updates/385f9735-f666-4ba2-9e4c-bdecf8b7a6f8.json
  .github/doc-updates/612988cf-f6ee-4bef-9599-a9749e39990f.json
  .github/issue-updates/fefbd248-b34b-4d4b-81ce-a6bd076c3cf1.json
  cmd/grpcserver_cmd_test.go
  cmd/grpcsetconfig.go
Labels: type:testing, tech:go, module:backend

docs(examples): add gcommon configuration sample
  .github/doc-updates/75b2f214-ab96-4f41-b201-ed9a4587ec45.json
  .github/doc-updates/f156bb1e-a0d2-47b3-95e0-757e115e1824.json
  .github/doc-updates/f39b0e40-d920-4848-ae74-fffe6bdb43d5.json
  .github/issue-updates/f319b964-76c0-4d5b-b068-138f53582fbc.json
  docs/examples/gcommon-config.yaml
Labels: type:documentation

docs(examples): add gcommon configuration sample
  .github/doc-updates/75b2f214-ab96-4f41-b201-ed9a4587ec45.json
  .github/doc-updates/f156bb1e-a0d2-47b3-95e0-757e115e1824.json
  .github/doc-updates/f39b0e40-d920-4848-ae74-fffe6bdb43d5.json
  .github/issue-updates/f319b964-76c0-4d5b-b068-138f53582fbc.json
  docs/examples/gcommon-config.yaml
Labels: type:documentation

chore(issues): create issue for sync batch invalid JSON test
  .github/doc-updates/5b1ed8ed-782e-4777-b275-2b1625b7c5e7.json
  .github/doc-updates/6690dbd9-212e-48ea-a30c-80316f2e7bc4.json
  .github/doc-updates/cbb71145-2355-48a3-b7ce-839c40992e9e.json
  .github/issue-updates/925c62c7-673e-4c16-bd4e-e09046f9b6ba.json
  pkg/webserver/server_test.go
Labels: type:testing, tech:go, module:backend

feat: Implement Intelligent Issue Labeler for GitHub repositories
  scripts/intelligent_issue_labeler.py
Labels: tech:shell, tech:python, workflow:automation, automation

docs: update documentation files for CLAUDE, commit messages, copilot instructions, and AGENTS
  .github/CLAUDE.md
  .github/commit-messages.md
  .github/copilot-instructions.md
  AGENTS.md
Labels: type:documentation

feat(docs): add comprehensive guidelines for test generation, commit messages, and security practices
  .github/instructions-backup-20250722-225224/commit-messages.md
  .github/instructions-backup-20250722-225224/general-coding.instructions.md
  .github/instructions-backup-20250722-225224/github-actions.instructions.md
  .github/instructions-backup-20250722-225224/go.instructions.md
  .github/instructions-backup-20250722-225224/html-css.instructions.md
  .github/instructions-backup-20250722-225224/javascript.instructions.md
  .github/instructions-backup-20250722-225224/json.instructions.md
  .github/instructions-backup-20250722-225224/markdown.instructions.md
  .github/instructions-backup-20250722-225224/pull-request-descriptions.md
  .github/instructions-backup-20250722-225224/python.instructions.md
  .github/instructions-backup-20250722-225224/repository-setup.md
  .github/instructions-backup-20250722-225224/review-selection.md
  .github/instructions-backup-20250722-225224/security-guidelines.md
  .github/instructions-backup-20250722-225224/shell.instructions.md
  .github/instructions-backup-20250722-225224/test-generation.md
  .github/instructions-backup-20250722-225224/workflow-usage.md
  .github/instructions/commit-messages.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
Labels: type:documentation, type:testing, module:auth

chore: remove outdated instruction files for protobuf, R, and TypeScript
  .github/instructions-backup-20250722-225719/protobuf.instructions.md
  .github/instructions-backup-20250722-225719/r.instructions.md
  .github/instructions-backup-20250722-225719/typescript.instructions.md
Labels: type:documentation

feat(cache): add gcommon cache policy conversion
  .github/doc-updates/3650bf99-8068-4503-83e0-a3c8bbcbe652.json
  .github/doc-updates/51f7777a-bce8-4bc7-83b9-0aa048153b85.json
  .github/doc-updates/d3a5f8b1-2f46-4e35-8a8a-f02ced951d15.json
  .github/issue-updates/b191b61b-446c-4dd1-8867-303e63a94a13.json
  pkg/cache/proto.go
  pkg/cache/proto_test.go
Labels: type:testing, tech:go, module:backend

feat(cache): add gcommon cache policy conversion
  .github/doc-updates/3650bf99-8068-4503-83e0-a3c8bbcbe652.json
  .github/doc-updates/51f7777a-bce8-4bc7-83b9-0aa048153b85.json
  .github/doc-updates/d3a5f8b1-2f46-4e35-8a8a-f02ced951d15.json
  .github/issue-updates/b191b61b-446c-4dd1-8867-303e63a94a13.json
  pkg/cache/proto.go
  pkg/cache/proto_test.go
Labels: type:testing, tech:go, module:backend

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.1.0
# guid: 2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e
#
# Standardized Pull Request Labeler Configuration for subtitle-manager repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix
# Updated for labeler v5 compatibility (removed unsupported count-based size labels)

# TYPE LABELS
type:documentation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.md"
                            - "docs/**/*"
                            - "README*"
                            - "CHANGELOG*"
                            - "TODO*"
                            - "SECURITY*"

type:testing:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*test*"
                            - "test/**"
                            - "testdata/**"
                            - "**/test_*"
                            - "**/*_test.go"

type:maintenance:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".gitignore"
                            - "go.mod"
                            - "go.sum"
                            - "Makefile"
                            - "tools.go"

# TECHNOLOGY LABELS
tech:go:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.go"
                            - "go.mod"
                            - "go.sum"
                            - "cmd/**"
                            - "pkg/**"
                            - "internal/**"
                            - "main.go"

tech:javascript:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.js"
                            - "**/*.jsx"
                            - "**/*.html"
                            - "**/*.css"
                            - "webui/**"

tech:docker:
        - changed-files:
                  - any-glob-to-any-file:
                            - "Dockerfile*"
                            - "docker-compose*"
                            - "docker-stack*"
                            - "docker-init*"

tech:shell:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.sh"
                            - "**/*.bash"
                            - "scripts/**"
                            - "docker-init.sh"

tech:python:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.py"
                            - "doc_update_manager.py"

# MODULE LABELS
module:frontend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "webui/**"
                            - "pkg/webui/**"
                            - "**/*.html"
                            - "**/*.css"
                            - "**/*.js"

module:backend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/**"
                            - "internal/**"
                            - "cmd/**"
                            - "main.go"

module:database:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/database/**"
                            - "pkg/storage/**"
                            - "**/migration*"
                            - "**/db*"

module:api:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/api/**"
                            - "pkg/handlers/**"
                            - "pkg/routes/**"
                            - "**/api*"

module:auth:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/auth/**"
                            - "**/auth*"
                            - "**/security*"

# PROJECT-SPECIFIC LABELS
project:subtitles:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/subtitle/**"
                            - "pkg/format/**"
                            - "cmd/convert/**"
                            - "**/*subtitle*"
                            - "**/*convert*"

project:transcription:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/transcription/**"
                            - "pkg/whisper/**"
                            - "**/transcription*"
                            - "**/transcribe*"

project:whisper:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/whisper/**"
                            - "**/whisper*"
                            - "**/asr*"

project:media:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/media/**"
                            - "pkg/audio/**"
                            - "pkg/video/**"
                            - "**/media*"
                            - "**/audio*"
                            - "**/video*"

# WORKFLOW LABELS
workflow:github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

workflow:automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

workflow:deployment:
        - changed-files:
                  - any-glob-to-any-file:
                            - "docker*"
                            - "Dockerfile*"
                            - "systemd/**"
                            - ".github/workflows/deploy*"

# SIZE LABELS (based on file paths - count-based sizing not supported in v5)
# Note: File count-based labels are not supported in labeler v5
# These labels can be applied manually or through other automation

# AI/AUTOMATION LABELS
codex:
        - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]
