Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, subtitle-processing, webui, config, docker, scripts, tests, dependencies, security

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: a7b8c9d0-e1f2-43a4-b5c6-d7e8f9a0b1c2
#
# Pull Request Labeler Configuration for subtitle-manager repository
# Automatically label pull requests based on changed files or branch names

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CHANGELOG.md"
          - "TODO.md"
          - "SECURITY.md"
          - "docs/**"
          - "**/*.md"

# Go backend changes
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"
          - "main.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/subtitle/**"
          - "pkg/format/**"
          - "cmd/convert/**"
          - "**/*subtitle*"
          - "**/*convert*"

# Web UI changes
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/webui/**"
          - "templates/**"
          - "static/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "*.yaml"
          - "*.yml"
          - "*.json"
          - "*.toml"
          - ".gitignore"
          - ".env*"
          - "Makefile"
          - "docker-compose.yml"
          - "Dockerfile*"

# Docker and deployment
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "docker-stack*.yml"
          - "docker-init.sh"
          - ".dockerignore"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "test/**"
          - "tests/**"
          - "test-*.html"

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - "**/*security*"
          - "**/*auth*"

# Feature branches
feature:
  - head-branch:
      - any-glob-to-any-file: ["feature/*", "feat/*"]

# Bug fix branches
bugfix:
  - head-branch:
      - any-glob-to-any-file: ["fix/*", "bugfix/*", "hotfix/*"]

# Breaking changes
breaking-change:
  - head-branch:
      - any-glob-to-any-file: ["breaking/*"]

chore: remove deprecated CodeQL alert tickets workflow
  .github/workflows/codeql-alert-tickets.yml
Labels: none

chore: update CI workflow permissions and enable dependency submission
  .github/workflows/ci.yml
Labels: none

chore: update repository permissions for dependency submission
  .github/workflows/ci.yml
Labels: none

chore: update CI permissions for package and attestations
  .github/workflows/ci.yml
Labels: none

chore: update license from GPL to MIT
  LICENSE
Labels: none

feat: Update TODO.md with completed features and migration details
  .github/ISSUE_UPDATES_MIGRATION.md
  .github/WORKFLOW_SETUP_COMPLETE.md
  AGENTS.md
  CHANGELOG.md
  README.md
  TODO.md
  docs/ISSUE_MANAGEMENT_AND_DEVELOPMENT_SUMMARY.md
  docs/api/webhooks.md
  webui/FRONTEND_IMPLEMENTATION_COMPLETE_GUIDE.md
Labels: documentation

refactor: remove unused imports and clean up code
  docs/api/examples/python-integration.py
  sdks/python/subtitle_manager_sdk/client.py
  sdks/python/subtitle_manager_sdk/models.py
  sdks/python/tests/test_client.py
Labels: documentation, scripts

fix(main): remove unused flag initialization in main function feat(backups): add configuration and database backup files
  main.go
  pkg/backups/backups/20250706-220942-configuration-20250706-220942.bak
  pkg/backups/backups/20250706-220942-database-20250706-220942.bak
Labels: go

fix(tests): skip sqlite and sanitize paths
  .github/issue-updates/4f034e42-9522-41d5-a33c-d4e61c11be10.json
  cmd/root.go
  pkg/database/language_profiles_test.go
  pkg/database/scoring_test.go
  pkg/database/sqlite_no_support.go
  pkg/database/sqlite_support.go
  pkg/security/security.go
  pkg/subtitles/translatefile_test.go
Labels: go, tests, security

fix(webserver): sanitize path search
  .github/issue-updates/f5ce2006-19d8-47ab-b413-14908c10da07.json
  pkg/webserver/server.go
Labels: go

docs: clarify Node.js 20 requirement
  .github/issue-updates/3cf82bac-3d0c-4ca4-b7a2-57ad86e8c24b.json
  README.md
Labels: documentation

fix(watcher): sanitize event paths
  .github/issue-updates/88c5f8c8-764f-4cd4-bd01-53536ac54491.json
  README.md
  docs/COMPLETE_TECHNICAL_BREAKDOWN.md
  pkg/watcher/watcher.go
Labels: documentation, go

test(webserver): add provider config update test
  .github/issue-updates/48a16081-f123-49ae-bdd4-86540fc29e90.json
  .github/issue-updates/be7f655b-c570-403c-ae47-415f08db25f5.json
  .github/workflows/pr-labeler.yml
  CHANGELOG.md
  docs/ISSUE_MANAGEMENT_AND_DEVELOPMENT_SUMMARY.md
  pkg/webserver/server_test.go
  webui/FRONTEND_IMPLEMENTATION_COMPLETE_GUIDE.md
Labels: documentation, go, tests

test(webserver): add provider config update
  .github/issue-updates/8e34eebf-c120-4ef6-8aed-defcfc391a7b.json
  pkg/webserver/server_test.go
Labels: go, tests

fix(devcontainer): install node via apt
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: documentation

fix(devcontainer): install node via apt
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: documentation

fix(tests): skip sqlite and sanitize paths
  .github/issue-updates/4f034e42-9522-41d5-a33c-d4e61c11be10.json
  cmd/root.go
  pkg/database/language_profiles_test.go
  pkg/database/scoring_test.go
  pkg/database/sqlite_no_support.go
  pkg/database/sqlite_support.go
  pkg/security/security.go
  pkg/subtitles/translatefile_test.go
Labels: go, tests, security

fix(main): remove unused flag initialization in main function feat(backups): add configuration and database backup files
  main.go
  pkg/backups/backups/20250706-220942-configuration-20250706-220942.bak
  pkg/backups/backups/20250706-220942-database-20250706-220942.bak
Labels: go

test(webserver): add provider config update
  .github/issue-updates/8e34eebf-c120-4ef6-8aed-defcfc391a7b.json
  pkg/webserver/server_test.go
Labels: go, tests

feat(api): cache search results
  .github/issue-updates/cb3fd0e0-af2e-4d2f-b60d-b94b7aff9d3a.json
  CHANGELOG.md
  README.md
  TODO.md
  docs/ISSUE_MANAGEMENT_AND_DEVELOPMENT_SUMMARY.md
  pkg/webserver/search.go
  webui/FRONTEND_IMPLEMENTATION_COMPLETE_GUIDE.md
Labels: documentation, go

docs(root): clarify cache flags usage
  .github/issue-updates/042c1d1d-b7ec-44ff-8214-c39eb25b6c05.json
  .github/issue-updates/5ae6197f-1efb-44e9-82f5-55babfd9640a.json
  cmd/root.go
  pkg/cache/config.go
  pkg/cache/config_test.go
  pkg/database/postgres.go
  pkg/database/sqlite_enabled.go
Labels: go, tests

docs(root): clarify cache flags usage
  .github/issue-updates/042c1d1d-b7ec-44ff-8214-c39eb25b6c05.json
  .github/issue-updates/5ae6197f-1efb-44e9-82f5-55babfd9640a.json
  cmd/root.go
  pkg/cache/config.go
  pkg/cache/config_test.go
  pkg/database/postgres.go
  pkg/database/sqlite_enabled.go
Labels: go, tests

feat(api): cache search results
  .github/issue-updates/cb3fd0e0-af2e-4d2f-b60d-b94b7aff9d3a.json
  CHANGELOG.md
  README.md
  TODO.md
  docs/ISSUE_MANAGEMENT_AND_DEVELOPMENT_SUMMARY.md
  pkg/webserver/search.go
  webui/FRONTEND_IMPLEMENTATION_COMPLETE_GUIDE.md
Labels: documentation, go

feat(cmd): add whisper status command
  .devcontainer/devcontainer-simple.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/issue-updates/df593bc0-4d20-44a4-ba1a-52673dc84ee5.json
  CHANGELOG.md
  README.md
  TODO.md
  cmd/monitor.go
  cmd/whisper.go
  pkg/monitoring/integration_test.go
Labels: documentation, go, scripts, tests

feat(cmd): add whisper status command
  .devcontainer/devcontainer-simple.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/issue-updates/df593bc0-4d20-44a4-ba1a-52673dc84ee5.json
  CHANGELOG.md
  README.md
  TODO.md
  cmd/monitor.go
  cmd/whisper.go
  pkg/monitoring/integration_test.go
Labels: documentation, go, scripts, tests

chore: remove sync shared files workflow
  .github/workflows/sync-shared-files.yml
Labels: none

feat(workflow): add workflow dispatch inputs for PR reprocessing
  .github/workflows/pr-labeler.yml
Labels: none

feat(sync): log conflicts during Sonarr/Radarr sync
  .devcontainer/devcontainer.json
  .github/issue-updates/56a632a2-e42d-48eb-9900-b71a9ebc8aec.json
  .github/issue-updates/d5ffdbb0-ed3e-40bd-bf2e-0b45c11bd3d1.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/radarr/client.go
  pkg/radarr/client_test.go
  pkg/sonarr/client.go
  pkg/sonarr/client_test.go
  scripts/create-issue-update-library.sh
  webui/tests/scan.spec.js
Labels: documentation, go, webui, scripts, tests

feat(workflow): update permissions and token handling in PR labeler
  .github/workflows/pr-labeler.yml
Labels: none

feat(workflow): add documentation update workflow and script
  .github/workflows/docs-update.yml
  scripts/create-doc-update.sh
Labels: scripts

feat(sync): log conflicts during Sonarr/Radarr sync
  .devcontainer/devcontainer.json
  .github/issue-updates/56a632a2-e42d-48eb-9900-b71a9ebc8aec.json
  .github/issue-updates/d5ffdbb0-ed3e-40bd-bf2e-0b45c11bd3d1.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/radarr/client.go
  pkg/radarr/client_test.go
  pkg/sonarr/client.go
  pkg/sonarr/client_test.go
  scripts/create-issue-update-library.sh
  webui/tests/scan.spec.js
Labels: documentation, go, webui, scripts, tests

style: format permissions section in docs-update.yml
  .github/workflows/docs-update.yml
Labels: none

docs: add general coding instructions for Copilot/AI agents
  .github/instructions/general-coding.instructions.md
Labels: documentation

feat(workflow): update permissions for issue and project management
  .github/workflows/docs-update.yml
  .github/workflows/issue-management.yml
Labels: none

feat: add AGENTS and language-specific instructions for Copilot/AI agents
  .github/AGENTS.md
  .github/CLAUDE.md
  .github/copilot-instructions.md.new
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
Labels: documentation

feat: update AGENTS.md with centralized instructions for Copilot/AI agents
  AGENTS.md
Labels: documentation

docs: add README.md with centralized instructions for Copilot/AI agents
  .github/README.md
Labels: documentation

feat: add TOML file header format to general coding instructions
  .github/instructions/general-coding.instructions.md
Labels: documentation

fix: update CI workflow permissions for super-linter auto-commits
  .github/workflows/ci.yml
Labels: none

chore: remove auto-format CI workflow
  .github/workflows/auto-format.yml
Labels: none
