Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:javascript, tech:docker, tech:shell, tech:python, module:frontend, module:backend, module:database, module:api, module:auth, project:subtitles, project:transcription, project:whisper, project:media, workflow:github-actions, github-actions, workflow:automation, automation, workflow:deployment

feat(webserver): normalize search cache key
  .github/doc-updates/639d19a9-597a-4c96-81cc-754a2fe0eb8c.json
  .github/doc-updates/74ea68d7-ee85-42e8-8a42-af5bc1e47789.json
  .github/doc-updates/fe0abd47-d601-4703-9410-8d15e076e71a.json
  .github/issue-updates/10f0c4eb-8cdc-4476-bab1-bcea5ab7a4fd.json
  pkg/webserver/metrics_test.go
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: type:testing, tech:go, module:backend

feat: cache cli search results
  .github/doc-updates/0fc862dc-14fa-4edd-a7bd-646fad4b0d34.json
  .github/doc-updates/7e47ae90-de47-41c2-b222-94a566c2360e.json
  .github/doc-updates/ae55255f-fbc7-4717-b540-b8c02a9bb207.json
  .github/issue-updates/4580a2d8-400b-46f1-a540-997691a9c457.json
  cmd/search.go
Labels: tech:go, module:backend

feat: cache cli search results
  .github/doc-updates/0fc862dc-14fa-4edd-a7bd-646fad4b0d34.json
  .github/doc-updates/7e47ae90-de47-41c2-b222-94a566c2360e.json
  .github/doc-updates/ae55255f-fbc7-4717-b540-b8c02a9bb207.json
  .github/issue-updates/4580a2d8-400b-46f1-a540-997691a9c457.json
  cmd/search.go
Labels: tech:go, module:backend

feat(translator): cache translation results
  .github/doc-updates/3cfacf5d-555b-4ac6-a315-b10ebc832be5.json
  .github/doc-updates/c508a8ce-22ef-44b7-a99d-12d83bcc3830.json
  .github/doc-updates/ec6d47f6-6d8e-4360-9e08-247ca13b2954.json
  .github/issue-updates/d040a70d-11cf-4888-8578-4df6afca69dc.json
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: type:testing, tech:go, module:backend

feat(translator): cache translation results
  .github/doc-updates/3cfacf5d-555b-4ac6-a315-b10ebc832be5.json
  .github/doc-updates/c508a8ce-22ef-44b7-a99d-12d83bcc3830.json
  .github/doc-updates/ec6d47f6-6d8e-4360-9e08-247ca13b2954.json
  .github/issue-updates/d040a70d-11cf-4888-8578-4df6afca69dc.json
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: type:testing, tech:go, module:backend

fix(core): remove duplicate flag definitions
  .github/doc-updates/218bece4-0d94-4503-8a35-d1ef7466a192.json
  .github/doc-updates/69e1877b-b708-4e59-be34-971b632b661b.json
  .github/doc-updates/84be7733-f34f-4bf0-b015-a7f5b4b5fbfa.json
  .github/issue-updates/0d28197b-41f1-4162-954c-bdc9c5416158.json
  cmd/root.go
  pkg/webserver/metrics_test.go
Labels: type:testing, tech:go, module:backend

fix(core): remove duplicate flag definitions
  .github/doc-updates/218bece4-0d94-4503-8a35-d1ef7466a192.json
  .github/doc-updates/69e1877b-b708-4e59-be34-971b632b661b.json
  .github/doc-updates/84be7733-f34f-4bf0-b015-a7f5b4b5fbfa.json
  .github/issue-updates/0d28197b-41f1-4162-954c-bdc9c5416158.json
  cmd/root.go
  pkg/webserver/metrics_test.go
Labels: type:testing, tech:go, module:backend

feat: add whisper container control commands
  .github/doc-updates/07377037-a8ca-4385-aa26-ba35560b1217.json
  .github/doc-updates/262e134a-2e85-4c67-a3f0-b552f0daec07.json
  .github/doc-updates/70658146-8c32-4836-9cea-4ee7318da2b7.json
  .github/issue-updates/adacdbac-7516-45c3-9ef7-8843dc7e1f92.json
  cmd/whisper.go
  cmd/whisper_cmd_test.go
Labels: type:testing, tech:go, module:backend, project:whisper

feat: add whisper container control commands
  .github/doc-updates/07377037-a8ca-4385-aa26-ba35560b1217.json
  .github/doc-updates/262e134a-2e85-4c67-a3f0-b552f0daec07.json
  .github/doc-updates/70658146-8c32-4836-9cea-4ee7318da2b7.json
  .github/issue-updates/adacdbac-7516-45c3-9ef7-8843dc7e1f92.json
  cmd/whisper.go
  cmd/whisper_cmd_test.go
Labels: type:testing, tech:go, module:backend, project:whisper

feat(cli): add whisper container management
  .github/doc-updates/0652904d-dbd8-430b-bac6-fe73c49ed042.json
  .github/doc-updates/34acf74c-d049-4358-ac62-dfa1255f56b8.json
  .github/doc-updates/b28ebe0f-7818-419e-b97f-34d70eb52801.json
  .github/issue-updates/bff98c1f-f9ec-431d-96cd-5b5323fef0b3.json
  cmd/root.go
  cmd/whisper.go
Labels: tech:go, module:backend, project:whisper

feat(cli): add whisper container management
  .github/doc-updates/0652904d-dbd8-430b-bac6-fe73c49ed042.json
  .github/doc-updates/34acf74c-d049-4358-ac62-dfa1255f56b8.json
  .github/doc-updates/b28ebe0f-7818-419e-b97f-34d70eb52801.json
  .github/issue-updates/bff98c1f-f9ec-431d-96cd-5b5323fef0b3.json
  cmd/root.go
  cmd/whisper.go
Labels: tech:go, module:backend, project:whisper

fix(core): add grpc timeouts and clean flags
  .github/doc-updates/123057f7-4a84-4a5c-985b-eae2b7c571de.json
  .github/doc-updates/643acd6e-7a6d-4a94-a4c5-85cc0aa92b17.json
  .github/doc-updates/dbbe05a0-2e6b-49e9-a1f2-6f4d098e48d4.json
  .github/issue-updates/02aa6c46-37da-4aab-98e1-cea07fc05e8e.json
  cmd/root.go
  pkg/translator/translator.go
Labels: tech:go, module:backend, module:database

fix(core): add grpc timeouts and clean flags
  .github/doc-updates/123057f7-4a84-4a5c-985b-eae2b7c571de.json
  .github/doc-updates/643acd6e-7a6d-4a94-a4c5-85cc0aa92b17.json
  .github/doc-updates/dbbe05a0-2e6b-49e9-a1f2-6f4d098e48d4.json
  .github/issue-updates/02aa6c46-37da-4aab-98e1-cea07fc05e8e.json
  cmd/root.go
  pkg/translator/translator.go
Labels: tech:go, module:backend, module:database

feat(syncer): compute median offset for improved accuracy
  .github/doc-updates/4d2b1a97-045b-4367-8d14-fda613b87227.json
  .github/doc-updates/9661e647-db72-4b75-9978-b7403337475a.json
  .github/doc-updates/ae817652-58c4-41a0-b6fe-02c1ea372bd8.json
  .github/issue-updates/beb3d080-0996-4a92-8c4e-39c8d033b870.json
  pkg/syncer/syncer.go
  pkg/syncer/syncer_test.go
  pkg/webserver/metrics_test.go
Labels: type:testing, tech:go, module:backend

feat(syncer): compute median offset for improved accuracy
  .github/doc-updates/4d2b1a97-045b-4367-8d14-fda613b87227.json
  .github/doc-updates/9661e647-db72-4b75-9978-b7403337475a.json
  .github/doc-updates/ae817652-58c4-41a0-b6fe-02c1ea372bd8.json
  .github/issue-updates/beb3d080-0996-4a92-8c4e-39c8d033b870.json
  pkg/syncer/syncer.go
  pkg/syncer/syncer_test.go
  pkg/webserver/metrics_test.go
Labels: type:testing, tech:go, module:backend

feat(search): add per-ip rate limiting
  .github/issue-updates/bbc41203-40b5-4e2a-92e5-8bcdf5816ce5.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: type:documentation, type:testing, tech:go, module:backend

feat(search): add per-ip rate limiting
  .github/issue-updates/bbc41203-40b5-4e2a-92e5-8bcdf5816ce5.json
  CHANGELOG.md
  README.md
  TODO.md
  pkg/webserver/search.go
  pkg/webserver/search_test.go
Labels: type:documentation, type:testing, tech:go, module:backend

fix(docker): improve npm install process in Dockerfile
  Dockerfile
  go.mod
Labels: type:maintenance, tech:go, tech:docker, workflow:deployment

ci: update permissions and version in CI workflow
  .github/workflows/ci.yml
Labels: workflow:github-actions, github-actions

fix(docker): resolve esbuild version conflicts during npm install
  Dockerfile
Labels: tech:docker, workflow:deployment

fix(docker): optimize npm install process in Dockerfile
  Dockerfile
  webui/package.json
Labels: tech:javascript, tech:docker, module:frontend, workflow:deployment

feat(makefile): add docker-local target
  .github/doc-updates/ae8067b6-54d1-467b-a919-0691f5da9ab3.json
  .github/doc-updates/be9e6e63-00cb-4d08-8bee-5bd9d049f6f3.json
  .github/doc-updates/de2dab0d-a0cd-4689-ac25-94c45e7abe8d.json
  Makefile
Labels: type:maintenance

feat(makefile): add docker-local target
  .github/doc-updates/ae8067b6-54d1-467b-a919-0691f5da9ab3.json
  .github/doc-updates/be9e6e63-00cb-4d08-8bee-5bd9d049f6f3.json
  .github/doc-updates/de2dab0d-a0cd-4689-ac25-94c45e7abe8d.json
  Makefile
Labels: type:maintenance

chore(docker): update local Docker build process for single platform
  Makefile
Labels: type:maintenance

chore(docker): enhance Docker build process with cache handling
  Makefile
Labels: type:maintenance

feat(docker): add local Docker image build and push target
  Makefile
Labels: type:maintenance

test(database): add migration tests for language profile assignments
  pkg/database/migration_language_profiles_test.go
Labels: type:testing, tech:go, module:backend, module:database

test(database): enhance pebble migration test for profile handling
  pkg/database/pebble_migration_test.go
Labels: type:testing, tech:go, module:backend, module:database

feat(database): add InitPebbleStore method for seeding defaults
  pkg/database/pebble.go
Labels: tech:go, module:backend, module:database

fix(docker): correct port mapping
  .github/doc-updates/3259661f-69f7-49a2-b14e-8e5903643257.json
  .github/doc-updates/48ec308c-b493-4771-998d-1c9158473880.json
  .github/doc-updates/884907d1-ba78-464e-a0da-79f81cf1ae07.json
  docker-stack.yml
Labels: tech:docker, workflow:deployment

fix(docker): correct port mapping
  .github/doc-updates/3259661f-69f7-49a2-b14e-8e5903643257.json
  .github/doc-updates/48ec308c-b493-4771-998d-1c9158473880.json
  .github/doc-updates/884907d1-ba78-464e-a0da-79f81cf1ae07.json
  docker-stack.yml
Labels: tech:docker, workflow:deployment

docs: record updates for sqlite test handling
  .github/doc-updates/00df5927-470e-43a8-bc44-fc11ca1aebd3.json
  .github/doc-updates/457acba1-0f7b-4499-8604-21b950143564.json
  .github/doc-updates/e2bed45e-8dd7-494f-83fc-67fed1130796.json
  pkg/database/migration_language_profiles_test.go
Labels: type:testing, tech:go, module:backend, module:database

docs: record updates for sqlite test handling
  .github/doc-updates/00df5927-470e-43a8-bc44-fc11ca1aebd3.json
  .github/doc-updates/457acba1-0f7b-4499-8604-21b950143564.json
  .github/doc-updates/e2bed45e-8dd7-494f-83fc-67fed1130796.json
  pkg/database/migration_language_profiles_test.go
Labels: type:testing, tech:go, module:backend, module:database

feat(rebase): integrate AI CLI conflict resolution
  CHANGELOG.md
  README.md
  TODO.md
  scripts/codex-rebase.sh
Labels: type:documentation, tech:shell, workflow:automation, automation

feat(rebase): integrate AI CLI conflict resolution
  CHANGELOG.md
  README.md
  TODO.md
  scripts/codex-rebase.sh
Labels: type:documentation, tech:shell, workflow:automation, automation

chore(workflows): remove obsolete workflows and add unified automation
  .github/workflows/docs-update.yml
  .github/workflows/fix-merge-conflicts.yml
  .github/workflows/issue-management.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

chore(workflows): remove obsolete workflows and add unified automation
  .github/workflows/docs-update.yml
  .github/workflows/fix-merge-conflicts.yml
  .github/workflows/issue-management.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

feat(workflow): enhance unified automation with dynamic operation input
  .github/workflows/unified-automation.yml
Labels: workflow:github-actions, github-actions

feat(translator): add google batch translation
  .github/doc-updates/3f9b43df-8e34-4904-92e9-cbef19ce94cc.json
  .github/doc-updates/9a3ac159-cff5-4de1-8edf-8cd2fa67f7a3.json
  .github/doc-updates/cfb139cc-9174-4ba1-adcb-87b395cc5390.json
  cmd/batch_test.go
  pkg/subtitles/translatefile.go
  pkg/subtitles/translatefile_test.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: type:testing, tech:go, module:backend

feat(translator): add google batch translation
  .github/doc-updates/3f9b43df-8e34-4904-92e9-cbef19ce94cc.json
  .github/doc-updates/9a3ac159-cff5-4de1-8edf-8cd2fa67f7a3.json
  .github/doc-updates/cfb139cc-9174-4ba1-adcb-87b395cc5390.json
  cmd/batch_test.go
  pkg/subtitles/translatefile.go
  pkg/subtitles/translatefile_test.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Labels: type:testing, tech:go, module:backend

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.1.0
# guid: 2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e
#
# Standardized Pull Request Labeler Configuration for subtitle-manager repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix
# Updated for labeler v5 compatibility (removed unsupported count-based size labels)

# TYPE LABELS
type:documentation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.md"
                            - "docs/**/*"
                            - "README*"
                            - "CHANGELOG*"
                            - "TODO*"
                            - "SECURITY*"

type:testing:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*test*"
                            - "test/**"
                            - "testdata/**"
                            - "**/test_*"
                            - "**/*_test.go"

type:maintenance:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".gitignore"
                            - "go.mod"
                            - "go.sum"
                            - "Makefile"
                            - "tools.go"

# TECHNOLOGY LABELS
tech:go:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.go"
                            - "go.mod"
                            - "go.sum"
                            - "cmd/**"
                            - "pkg/**"
                            - "internal/**"
                            - "main.go"

tech:javascript:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.js"
                            - "**/*.jsx"
                            - "**/*.html"
                            - "**/*.css"
                            - "webui/**"

tech:docker:
        - changed-files:
                  - any-glob-to-any-file:
                            - "Dockerfile*"
                            - "docker-compose*"
                            - "docker-stack*"
                            - "docker-init*"

tech:shell:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.sh"
                            - "**/*.bash"
                            - "scripts/**"
                            - "docker-init.sh"

tech:python:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.py"
                            - "doc_update_manager.py"

# MODULE LABELS
module:frontend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "webui/**"
                            - "pkg/webui/**"
                            - "**/*.html"
                            - "**/*.css"
                            - "**/*.js"

module:backend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/**"
                            - "internal/**"
                            - "cmd/**"
                            - "main.go"

module:database:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/database/**"
                            - "pkg/storage/**"
                            - "**/migration*"
                            - "**/db*"

module:api:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/api/**"
                            - "pkg/handlers/**"
                            - "pkg/routes/**"
                            - "**/api*"

module:auth:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/auth/**"
                            - "**/auth*"
                            - "**/security*"

# PROJECT-SPECIFIC LABELS
project:subtitles:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/subtitle/**"
                            - "pkg/format/**"
                            - "cmd/convert/**"
                            - "**/*subtitle*"
                            - "**/*convert*"

project:transcription:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/transcription/**"
                            - "pkg/whisper/**"
                            - "**/transcription*"
                            - "**/transcribe*"

project:whisper:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/whisper/**"
                            - "**/whisper*"
                            - "**/asr*"

project:media:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/media/**"
                            - "pkg/audio/**"
                            - "pkg/video/**"
                            - "**/media*"
                            - "**/audio*"
                            - "**/video*"

# WORKFLOW LABELS
workflow:github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

workflow:automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

workflow:deployment:
        - changed-files:
                  - any-glob-to-any-file:
                            - "docker*"
                            - "Dockerfile*"
                            - "systemd/**"
                            - ".github/workflows/deploy*"

# SIZE LABELS (based on file paths - count-based sizing not supported in v5)
# Note: File count-based labels are not supported in labeler v5
# These labels can be applied manually or through other automation

# AI/AUTOMATION LABELS
codex:
        - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]
