Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, subtitle-processing, webui, config, docker, scripts, tests, dependencies, security

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: a7b8c9d0-e1f2-43a4-b5c6-d7e8f9a0b1c2
#
# Pull Request Labeler Configuration for subtitle-manager repository
# Automatically label pull requests based on changed files or branch names

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "CHANGELOG.md"
          - "TODO.md"
          - "SECURITY.md"
          - "docs/**"
          - "**/*.md"

# Go backend changes
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"
          - "cmd/**"
          - "pkg/**"
          - "internal/**"
          - "main.go"

# Subtitle processing (subtitle-manager specific)
subtitle-processing:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/subtitle/**"
          - "pkg/format/**"
          - "cmd/convert/**"
          - "**/*subtitle*"
          - "**/*convert*"

# Web UI changes
webui:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/webui/**"
          - "templates/**"
          - "static/**"
          - "**/*.html"
          - "**/*.css"
          - "**/*.js"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "*.yaml"
          - "*.yml"
          - "*.json"
          - "*.toml"
          - ".gitignore"
          - ".env*"
          - "Makefile"
          - "docker-compose.yml"
          - "Dockerfile*"

# Docker and deployment
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - "docker-stack*.yml"
          - "docker-init.sh"
          - ".dockerignore"

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/*.sh"
          - "**/*.py"

# Testing files
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "test/**"
          - "tests/**"
          - "test-*.html"

# Dependencies and package management
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - "**/*security*"
          - "**/*auth*"

# Feature branches
feature:
  - head-branch:
      - any-glob-to-any-file: ["feature/*", "feat/*"]

# Bug fix branches
bugfix:
  - head-branch:
      - any-glob-to-any-file: ["fix/*", "bugfix/*", "hotfix/*"]

# Breaking changes
breaking-change:
  - head-branch:
      - any-glob-to-any-file: ["breaking/*"]

ci: add fix merge conflicts workflow
  .github/doc-updates/2434b04a-0531-4982-9357-7d27da99421e.json
  .github/doc-updates/b40cee14-75c6-486f-8488-d7a4d39ac934.json
  .github/doc-updates/c93e5e91-6de7-4bb7-ba95-b0f107adb5b7.json
  .github/issue-updates/6395e348-c14d-48aa-8eb1-a7cf066f192a.json
  .github/workflows/fix-merge-conflicts.yml
Labels: none

chore: remove obsolete Copilot instructions file
  .github/copilot-instructions.md.new
Labels: none

feat: add script idempotency requirements and examples to general coding instructions
  .github/instructions/general-coding.instructions.md
  scripts/cleanup-duplicate-projects.sh
  scripts/create-github-projects.sh
  scripts/manage-project-structure.sh
  scripts/setup-project-workflows.sh
Labels: documentation, scripts

chore: remove obsolete create-github-projects script
  scripts/create-github-projects.sh
Labels: scripts

chore: add comment to cron schedule for clarity
  .github/workflows/fix-merge-conflicts.yml
Labels: none

docs: update pull request description guidelines for clarity and structure
  .github/pull-request-descriptions.md
Labels: documentation

chore: remove obsolete project management scripts
  scripts/manage-project-structure.sh
  scripts/setup-project-workflows.sh
Labels: scripts

fix(ci): use PAT for merge conflict workflow
  .github/doc-updates/1896fe55-de9a-48cc-a9c5-0c2f43d7f6be.json
  .github/doc-updates/b11b6c28-9852-4f3b-8565-acdd07fc52c0.json
  .github/doc-updates/b6b3f5e3-1442-457e-98fd-60180a80dcb2.json
  .github/workflows/fix-merge-conflicts.yml
Labels: none

fix(ci): use PAT for merge conflict workflow
  .github/doc-updates/1896fe55-de9a-48cc-a9c5-0c2f43d7f6be.json
  .github/doc-updates/b11b6c28-9852-4f3b-8565-acdd07fc52c0.json
  .github/doc-updates/b6b3f5e3-1442-457e-98fd-60180a80dcb2.json
  .github/workflows/fix-merge-conflicts.yml
Labels: none

feat(docs): update commit message guidelines and README for project management
  .github/commit-messages.md
  README.md
  scripts/MIGRATION-NOTICE.md
Labels: documentation, scripts

chore(workflow): update permissions in fix-merge-conflicts.yml (#456)
  .github/workflows/fix-merge-conflicts.yml
Labels: none

docs(prompts): create AI rebase system prompt file (#457)
  .github/prompts/ai-rebase-system.prompt.md
Labels: documentation

docs(instructions): update general coding instructions and add versioning guidelines
  .github/instructions/general-coding.instructions.md
Labels: documentation

docs: update commit message and pull request description guidelines to version 3.1.0
  .github/commit-messages.md
  .github/pull-request-descriptions.md
Labels: documentation

Add language-specific coding instructions for various file types
  .github/general-coding.instructions.md
  .github/github-actions.instructions.md
  .github/go.instructions.md
  .github/html-css.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/shell.instructions.md
  .github/javascript.instructions.md
  .github/json.instructions.md
  .github/markdown.instructions.md
  .github/protobuf.instructions.md
  .github/python.instructions.md
  .github/r.instructions.md
  .github/shell.instructions.md
  .github/typescript.instructions.md
Labels: documentation

chore(workflow): remove initial sync workflow for copilot directory
  .github/workflows/initial-sync-copilot.yml
Labels: none

docs(prompts): update AI rebase system and context files
  .github/prompts/ai-rebase-context.md
  .github/prompts/ai-rebase-system.prompt.md
Labels: documentation

docs(commit-messages): update commit message guidelines for clarity
  .github/commit-messages.md
Labels: documentation

docs(commit-messages): update commit message guidelines for markdown links
  .github/commit-messages.md
Labels: documentation
