Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:javascript, tech:docker, tech:shell, tech:python, module:frontend, module:backend, module:database, module:api, module:auth, project:subtitles, project:transcription, project:whisper, project:media, workflow:github-actions, github-actions, workflow:automation, automation, workflow:deployment

fix(db): create media_profiles table for sqlite
  .github/doc-updates/26e3f31d-9427-4156-8e8a-8c1aaaddda1a.json
  .github/doc-updates/291d69bc-1c20-4a6b-ad1a-7839e15b1210.json
  .github/doc-updates/9dd7e681-a6c3-4ac4-a9d6-20c6ef151c18.json
  .github/issue-updates/77b2d056-2e48-4234-8e17-c9aed8da7ee5.json
  pkg/database/sqlite_enabled.go
Labels: tech:go, module:backend, module:database

fix(db): create media_profiles table for sqlite
  .github/doc-updates/26e3f31d-9427-4156-8e8a-8c1aaaddda1a.json
  .github/doc-updates/291d69bc-1c20-4a6b-ad1a-7839e15b1210.json
  .github/doc-updates/9dd7e681-a6c3-4ac4-a9d6-20c6ef151c18.json
  .github/issue-updates/77b2d056-2e48-4234-8e17-c9aed8da7ee5.json
  pkg/database/sqlite_enabled.go
Labels: tech:go, module:backend, module:database

refactor(server): replace health endpoints with gcommon handlers
  .github/doc-updates/7826a300-3d23-47da-89d7-a6107828401d.json
  .github/doc-updates/ae67ba21-767d-4f44-9ed0-c6ff1259f71d.json
  .github/doc-updates/f86d604c-ba13-43c9-948c-dc8b85947076.json
  go.mod
  go.sum
  pkg/webserver/cache.go
  pkg/webserver/system.go
Labels: type:maintenance, tech:go, module:backend

refactor(server): replace health endpoints with gcommon handlers
  .github/doc-updates/7826a300-3d23-47da-89d7-a6107828401d.json
  .github/doc-updates/ae67ba21-767d-4f44-9ed0-c6ff1259f71d.json
  .github/doc-updates/f86d604c-ba13-43c9-948c-dc8b85947076.json
  go.mod
  go.sum
  pkg/webserver/cache.go
  pkg/webserver/system.go
Labels: type:maintenance, tech:go, module:backend

test(webserver): add invalid JSON test for sync batch endpoint
  .github/doc-updates/1ca0d749-2401-464d-832f-5827db529107.json
  .github/doc-updates/561f1923-f4f8-4d0b-a896-ad26ee549f54.json
  .github/doc-updates/6896e188-49c1-4cd6-acd2-4879f3c2e32c.json
  pkg/webserver/server_test.go
Labels: type:testing, tech:go, module:backend

test(webserver): add invalid JSON test for sync batch endpoint
  .github/doc-updates/1ca0d749-2401-464d-832f-5827db529107.json
  .github/doc-updates/561f1923-f4f8-4d0b-a896-ad26ee549f54.json
  .github/doc-updates/6896e188-49c1-4cd6-acd2-4879f3c2e32c.json
  pkg/webserver/server_test.go
Labels: type:testing, tech:go, module:backend

fix(ui): display directories in file picker
  .github/doc-updates/402ca0a6-38d1-46e0-a076-397a71cbe970.json
  .github/doc-updates/746c340c-86e9-4ddc-b0b2-5cc27c192c3d.json
  .github/doc-updates/87ce50bb-2652-44e7-a20e-b9eab80aebc2.json
  webui/src/Dashboard.jsx
  webui/src/components/DirectoryChooser.jsx
Labels: tech:javascript, module:frontend

fix(ui): display directories in file picker
  .github/doc-updates/402ca0a6-38d1-46e0-a076-397a71cbe970.json
  .github/doc-updates/746c340c-86e9-4ddc-b0b2-5cc27c192c3d.json
  .github/doc-updates/87ce50bb-2652-44e7-a20e-b9eab80aebc2.json
  webui/src/Dashboard.jsx
  webui/src/components/DirectoryChooser.jsx
Labels: tech:javascript, module:frontend

feat(proto): add provider metadata messages
  .github/doc-updates/b0490528-7722-415c-9299-94aa8800a5f2.json
  .github/doc-updates/dfbdd30e-ba34-4867-8d1d-b685a9e85419.json
  .github/doc-updates/faeca964-b8a3-4915-bc3f-e7898c17776c.json
  .github/issue-updates/85746086-38ae-45e0-9dae-83ea600f5d26.json
  proto/translator.proto
Labels: none

feat(proto): add provider metadata messages
  .github/doc-updates/b0490528-7722-415c-9299-94aa8800a5f2.json
  .github/doc-updates/dfbdd30e-ba34-4867-8d1d-b685a9e85419.json
  .github/doc-updates/faeca964-b8a3-4915-bc3f-e7898c17776c.json
  .github/issue-updates/85746086-38ae-45e0-9dae-83ea600f5d26.json
  proto/translator.proto
Labels: none

docs(issue-management): create validation issue for codex-rebase
  .github/doc-updates/b2b62822-d63c-4ee9-9dec-b25640657171.json
  .github/doc-updates/c987ec9f-4735-4263-8eb8-d1e321b57e90.json
  .github/doc-updates/ff1caa24-8ca8-411f-afe6-8f9a989f9bb3.json
  .github/issue-updates/974a2c7f-6db1-496b-a99c-9d3d50e58d78.json
Labels: none

docs(issue-management): create validation issue for codex-rebase
  .github/doc-updates/b2b62822-d63c-4ee9-9dec-b25640657171.json
  .github/doc-updates/c987ec9f-4735-4263-8eb8-d1e321b57e90.json
  .github/doc-updates/ff1caa24-8ca8-411f-afe6-8f9a989f9bb3.json
  .github/issue-updates/974a2c7f-6db1-496b-a99c-9d3d50e58d78.json
Labels: none

chore(issues): open task to finalize Dockerfile.hybrid switch
  .devcontainer/devcontainer.json
  .github/doc-updates/17387c82-0c47-43e8-aef0-e686a1fc9676.json
  .github/doc-updates/406e54bc-b5df-426c-8eeb-380423dd7472.json
  .github/doc-updates/56144b20-7c05-445c-8170-6d752d27fdd5.json
  .github/doc-updates/a3c996d4-d008-43f5-8ae5-781508be4fc1.json
  .github/doc-updates/a6130f6d-2927-481a-8cc5-a31134f9bd20.json
  .github/issue-updates/5a944fb5-373d-4904-8b0e-ed79fcd07dfe.json
  .github/workflows/docker-build.yml
  Makefile
  scripts/fast-docker-build.sh
Labels: type:maintenance, tech:shell, workflow:github-actions, github-actions, workflow:automation, automation

chore(issues): open task to finalize Dockerfile.hybrid switch
  .devcontainer/devcontainer.json
  .github/doc-updates/17387c82-0c47-43e8-aef0-e686a1fc9676.json
  .github/doc-updates/406e54bc-b5df-426c-8eeb-380423dd7472.json
  .github/doc-updates/56144b20-7c05-445c-8170-6d752d27fdd5.json
  .github/doc-updates/a3c996d4-d008-43f5-8ae5-781508be4fc1.json
  .github/doc-updates/a6130f6d-2927-481a-8cc5-a31134f9bd20.json
  .github/issue-updates/5a944fb5-373d-4904-8b0e-ed79fcd07dfe.json
  .github/workflows/docker-build.yml
  Makefile
  scripts/fast-docker-build.sh
Labels: type:maintenance, tech:shell, workflow:github-actions, github-actions, workflow:automation, automation

chore(issues): track manual search caching
  .github/doc-updates/4ce1f1fe-173f-4071-b371-30cf8498232d.json
  .github/doc-updates/a4b0b2fc-874a-4bfc-bc9c-f61e09242333.json
  .github/doc-updates/e6ad86f7-d523-4475-b9c7-822faae43790.json
  .github/issue-updates/5715c6ac-9771-4692-8d7f-d2bb6aec0a99.json
  pkg/cache/config.go
  pkg/cache/config_test.go
  pkg/cache/factory.go
  pkg/cache/factory_test.go
  pkg/cache/interface.go
  pkg/cache/interface_test.go
  pkg/webserver/search.go
Labels: type:testing, tech:go, module:backend

chore(issues): track manual search caching
  .github/doc-updates/4ce1f1fe-173f-4071-b371-30cf8498232d.json
  .github/doc-updates/a4b0b2fc-874a-4bfc-bc9c-f61e09242333.json
  .github/doc-updates/e6ad86f7-d523-4475-b9c7-822faae43790.json
  .github/issue-updates/5715c6ac-9771-4692-8d7f-d2bb6aec0a99.json
  pkg/cache/config.go
  pkg/cache/config_test.go
  pkg/cache/factory.go
  pkg/cache/factory_test.go
  pkg/cache/interface.go
  pkg/cache/interface_test.go
  pkg/webserver/search.go
Labels: type:testing, tech:go, module:backend

chore(issue): create gcommon queue migration ticket
  .github/doc-updates/15bb8fad-37d3-4508-a6ae-ccc58f2dbcb1.json
  .github/doc-updates/598e66ae-bf84-4ee5-8e61-4fec373777a8.json
  .github/doc-updates/7737b0e2-812b-43ba-866e-367974d173dc.json
  .github/issue-updates/6f1bb8b6-711a-449b-86ab-e1651d5402de.json
  Makefile
  cmd/root.go
  pkg/jobpb/queue_job.pb.go
  pkg/queue/jobs.go
  pkg/queue/message.go
  pkg/queue/queue.go
  pkg/queue/queue_test.go
  proto/queue_job.proto
Labels: type:testing, type:maintenance, tech:go, module:backend

chore(issues): create logging issue
  .github/doc-updates/01fdaa5d-e62e-494e-94a5-3eb85c87df91.json
  .github/doc-updates/669f5941-5ccc-45de-8acb-e7f90cf10a2d.json
  .github/doc-updates/d4d81fad-3c78-425b-8862-58e9168b282f.json
  .github/issue-updates/919f8f25-bc7b-45ac-81db-8abb31a99cd3.json
  pkg/webserver/download.go
Labels: tech:go, module:backend

chore(issues): create logging issue
  .github/doc-updates/01fdaa5d-e62e-494e-94a5-3eb85c87df91.json
  .github/doc-updates/669f5941-5ccc-45de-8acb-e7f90cf10a2d.json
  .github/doc-updates/d4d81fad-3c78-425b-8862-58e9168b282f.json
  .github/issue-updates/919f8f25-bc7b-45ac-81db-8abb31a99cd3.json
  pkg/webserver/download.go
Labels: tech:go, module:backend

chore(issue): create gcommon queue migration ticket
  .github/doc-updates/15bb8fad-37d3-4508-a6ae-ccc58f2dbcb1.json
  .github/doc-updates/598e66ae-bf84-4ee5-8e61-4fec373777a8.json
  .github/doc-updates/7737b0e2-812b-43ba-866e-367974d173dc.json
  .github/issue-updates/6f1bb8b6-711a-449b-86ab-e1651d5402de.json
  Makefile
  cmd/root.go
  pkg/jobpb/queue_job.pb.go
  pkg/queue/jobs.go
  pkg/queue/message.go
  pkg/queue/queue.go
  pkg/queue/queue_test.go
  proto/queue_job.proto
Labels: type:testing, type:maintenance, tech:go, module:backend

fix(cli): deduplicate persistent flags
  .github/doc-updates/082ab1c3-8864-4c7a-9cff-f6ca884c4ba2.json
  .github/doc-updates/af83f0ca-16f8-4c12-a60f-166054ecea9b.json
  .github/doc-updates/c2c4aac9-d21d-48dd-bfc8-f92b168bb681.json
  .github/issue-updates/00b7f48a-4489-4867-bb15-37642b85ebf1.json
  cmd/root.go
Labels: tech:go, module:backend

fix(cli): deduplicate persistent flags
  .github/doc-updates/082ab1c3-8864-4c7a-9cff-f6ca884c4ba2.json
  .github/doc-updates/af83f0ca-16f8-4c12-a60f-166054ecea9b.json
  .github/doc-updates/c2c4aac9-d21d-48dd-bfc8-f92b168bb681.json
  .github/issue-updates/00b7f48a-4489-4867-bb15-37642b85ebf1.json
  cmd/root.go
Labels: tech:go, module:backend

docs(migration): adjust wrapper notice
  .github/doc-updates/1e353d9a-4a7b-43e5-a3ba-32f5cbf3c858.json
  .github/doc-updates/3ef7b480-4c92-4d62-840e-f361a28d3f8c.json
  .github/doc-updates/d13042a0-de5f-460e-bec7-2e5a7634ce8b.json
  .github/issue-updates/f52a6352-389c-4081-8779-3fe61203034e.json
  scripts/MIGRATION-NOTICE.md
  scripts/create-github-projects.sh
Labels: type:documentation, tech:shell, workflow:automation, automation

docs(migration): adjust wrapper notice
  .github/doc-updates/1e353d9a-4a7b-43e5-a3ba-32f5cbf3c858.json
  .github/doc-updates/3ef7b480-4c92-4d62-840e-f361a28d3f8c.json
  .github/doc-updates/d13042a0-de5f-460e-bec7-2e5a7634ce8b.json
  .github/issue-updates/f52a6352-389c-4081-8779-3fe61203034e.json
  scripts/MIGRATION-NOTICE.md
  scripts/create-github-projects.sh
Labels: type:documentation, tech:shell, workflow:automation, automation

feat(docker): finalize whisper container integration (#1259)
  .github/doc-updates/3d3d86ea-fbbd-4abc-9eda-fae7abe5bfdb.json
  .github/doc-updates/8111bcd6-b88a-4dd5-87c4-770648370e00.json
  .github/doc-updates/95c8cb25-ce37-4bde-adfc-5c13438125b7.json
  .github/issue-updates/bb662fc9-e0b0-4465-9d66-1d571c0d2c7e.json
  docker-init.sh
  docker_init_test.go
Labels: type:testing, tech:go, tech:docker, tech:shell, workflow:deployment

docs(monitor): add autosync command documentation
  .github/doc-updates/0837d5f7-b915-46a6-9fe3-5bf846b7348b.json
  .github/doc-updates/b97dc142-8a55-433f-bf5f-4b2c9715e430.json
  .github/doc-updates/d78bf185-ffc7-4b60-86b2-0b161f8c7f4c.json
  .github/issue-updates/179081c6-3269-4eea-a30f-46afb1843464.json
Labels: none

docs(monitor): add autosync command documentation
  .github/doc-updates/0837d5f7-b915-46a6-9fe3-5bf846b7348b.json
  .github/doc-updates/b97dc142-8a55-433f-bf5f-4b2c9715e430.json
  .github/doc-updates/d78bf185-ffc7-4b60-86b2-0b161f8c7f4c.json
  .github/issue-updates/179081c6-3269-4eea-a30f-46afb1843464.json
Labels: none

feat(docker): finalize whisper container integration (#1259)
  .github/doc-updates/3d3d86ea-fbbd-4abc-9eda-fae7abe5bfdb.json
  .github/doc-updates/8111bcd6-b88a-4dd5-87c4-770648370e00.json
  .github/doc-updates/95c8cb25-ce37-4bde-adfc-5c13438125b7.json
  .github/issue-updates/bb662fc9-e0b0-4465-9d66-1d571c0d2c7e.json
  docker-init.sh
  docker_init_test.go
Labels: type:testing, tech:go, tech:docker, tech:shell, workflow:deployment

chore(issues): track config loader migration
  .github/doc-updates/2abfaec3-4fce-4773-878b-a590e8d2075d.json
  .github/doc-updates/80e55e6b-dfbe-4cd1-8ad6-bd55187964e7.json
  .github/doc-updates/8e62a5aa-1b43-420f-b8c3-bc6de7940e09.json
  .github/issue-updates/c18a3b96-fd0c-435f-ad6d-cc036ff245dc.json
  .github/issue-updates/cab77712-6720-4fdb-b429-643e76b366e4.json
  cmd/root.go
  pkg/gcommon/config/config.go
  scripts/migrate_config_to_gcommon.py
Labels: tech:go, tech:shell, tech:python, module:backend, workflow:automation, automation

feat(auth): adopt gcommon auth
  .github/doc-updates/9df70d60-3291-4388-a178-1c4c3d04d156.json
  .github/doc-updates/c8f5d2cb-0a19-4fb6-9e56-7b42ada59c74.json
  .github/doc-updates/ed3fb366-4104-4a96-b7a9-6b73372fed11.json
  .github/issue-updates/2ee210e3-2c16-415c-9267-dc6d7f1598fa.json
  .github/issue-updates/dc20fcde-5700-49ac-8b21-39ba0c1de5c3.json
  cmd/login_test.go
  cmd/user.go
  pkg/gcommonauth/auth.go
  pkg/gcommonauth/auth_test.go
  pkg/gcommonauth/rbac.go
  pkg/gcommonauth/session_test.go
  pkg/maintenance/maintenance.go
  pkg/maintenance/maintenance_test.go
  pkg/webserver/auth.go
  pkg/webserver/database_test.go
  pkg/webserver/oauth.go
  pkg/webserver/oauth_management_test.go
  pkg/webserver/oauth_test.go
  pkg/webserver/server.go
  pkg/webserver/server_test.go
  pkg/webserver/system_test.go
  pkg/webserver/users.go
  pkg/webserver/widgets_test.go
Labels: type:testing, tech:go, module:backend, module:auth

fix(rebase): harden scripts with stash and remote checks
  .github/doc-updates/08c998cf-82d3-4f40-b75e-6037b0a07587.json
  .github/doc-updates/376bf495-4129-4a17-8d86-4e047cc63aa3.json
  .github/doc-updates/75ae8faf-217b-47de-b7c6-182e5f242a9b.json
  .github/doc-updates/89aa2e35-1abb-4fa4-9183-f2ab7b34de01.json
  .github/doc-updates/aedc4e38-619b-477b-859a-74f362a3a478.json
  .github/doc-updates/d91be709-4fd1-4adb-bdbe-7cd35ae67a5c.json
  .github/issue-updates/54bfae72-0498-4be8-abb5-d8077bf05fa0.json
  .github/issue-updates/7ae4d6e6-b7da-419f-8133-ac83c0102cf0.json
  scripts/codex-rebase.sh
  scripts/rebase.sh
Labels: tech:shell, workflow:automation, automation

fix(rebase): harden scripts with stash and remote checks
  .github/doc-updates/08c998cf-82d3-4f40-b75e-6037b0a07587.json
  .github/doc-updates/376bf495-4129-4a17-8d86-4e047cc63aa3.json
  .github/doc-updates/75ae8faf-217b-47de-b7c6-182e5f242a9b.json
  .github/doc-updates/89aa2e35-1abb-4fa4-9183-f2ab7b34de01.json
  .github/doc-updates/aedc4e38-619b-477b-859a-74f362a3a478.json
  .github/doc-updates/d91be709-4fd1-4adb-bdbe-7cd35ae67a5c.json
  .github/issue-updates/54bfae72-0498-4be8-abb5-d8077bf05fa0.json
  .github/issue-updates/7ae4d6e6-b7da-419f-8133-ac83c0102cf0.json
  scripts/codex-rebase.sh
  scripts/rebase.sh
Labels: tech:shell, workflow:automation, automation

feat(auth): adopt gcommon auth
  .github/doc-updates/9df70d60-3291-4388-a178-1c4c3d04d156.json
  .github/doc-updates/c8f5d2cb-0a19-4fb6-9e56-7b42ada59c74.json
  .github/doc-updates/ed3fb366-4104-4a96-b7a9-6b73372fed11.json
  .github/issue-updates/2ee210e3-2c16-415c-9267-dc6d7f1598fa.json
  .github/issue-updates/dc20fcde-5700-49ac-8b21-39ba0c1de5c3.json
  cmd/login_test.go
  cmd/user.go
  pkg/gcommonauth/auth.go
  pkg/gcommonauth/auth_test.go
  pkg/gcommonauth/rbac.go
  pkg/gcommonauth/session_test.go
  pkg/maintenance/maintenance.go
  pkg/maintenance/maintenance_test.go
  pkg/webserver/auth.go
  pkg/webserver/database_test.go
  pkg/webserver/oauth.go
  pkg/webserver/oauth_management_test.go
  pkg/webserver/oauth_test.go
  pkg/webserver/server.go
  pkg/webserver/server_test.go
  pkg/webserver/system_test.go
  pkg/webserver/users.go
  pkg/webserver/widgets_test.go
Labels: type:testing, tech:go, module:backend, module:auth

chore(issues): track config loader migration
  .github/doc-updates/2abfaec3-4fce-4773-878b-a590e8d2075d.json
  .github/doc-updates/80e55e6b-dfbe-4cd1-8ad6-bd55187964e7.json
  .github/doc-updates/8e62a5aa-1b43-420f-b8c3-bc6de7940e09.json
  .github/issue-updates/c18a3b96-fd0c-435f-ad6d-cc036ff245dc.json
  .github/issue-updates/cab77712-6720-4fdb-b429-643e76b366e4.json
  cmd/root.go
  pkg/gcommon/config/config.go
  scripts/migrate_config_to_gcommon.py
Labels: tech:go, tech:shell, tech:python, module:backend, workflow:automation, automation

feat(scripts): add config migration utility
  .github/doc-updates/2a558f78-967f-431d-9c3f-ce6d1d15d706.json
  .github/doc-updates/766f5909-086f-4aa8-809b-38989cb4b358.json
  .github/doc-updates/82237767-fb44-43d3-b87b-f7585c78a92f.json
  scripts/migrate-config-to-gcommon.py
Labels: tech:shell, tech:python, workflow:automation, automation

feat(scripts): add config migration utility
  .github/doc-updates/2a558f78-967f-431d-9c3f-ce6d1d15d706.json
  .github/doc-updates/766f5909-086f-4aa8-809b-38989cb4b358.json
  .github/doc-updates/82237767-fb44-43d3-b87b-f7585c78a92f.json
  scripts/migrate-config-to-gcommon.py
Labels: tech:shell, tech:python, workflow:automation, automation

docs(sonarr): create issue for command documentation
  .github/doc-updates/521ff036-97bb-4fea-954b-20a78233b710.json
  .github/doc-updates/7da81f1e-5500-4343-bfd9-31e148ffb1d5.json
  .github/doc-updates/affe601e-ce3f-4653-85e1-106c7f336c57.json
  .github/issue-updates/2d55db3f-9058-41da-bd60-e6b55ec7ca0b.json
Labels: none

docs(sonarr): create issue for command documentation
  .github/doc-updates/521ff036-97bb-4fea-954b-20a78233b710.json
  .github/doc-updates/7da81f1e-5500-4343-bfd9-31e148ffb1d5.json
  .github/doc-updates/affe601e-ce3f-4653-85e1-106c7f336c57.json
  .github/issue-updates/2d55db3f-9058-41da-bd60-e6b55ec7ca0b.json
Labels: none

chore(deps): update go.mod and add buf.gen.yaml
  buf.gen.yaml
  go.mod
Labels: type:maintenance, tech:go

fix(webui): add missing testing-library dependency
  .github/doc-updates/4812975a-39b5-40c0-9a8c-f572e201bf0b.json
  .github/doc-updates/5f8c94c0-0835-4612-8227-9e58dd9e5e30.json
  .github/doc-updates/825bc9e6-2dd0-4fe7-b3ba-10fb223b7be8.json
  .github/doc-updates/8ac582d4-5cf2-4b6d-aec2-e878407204f6.json
  .github/doc-updates/c08a14b6-30a3-4b16-aa68-c65679d12cef.json
  .github/doc-updates/ed7b21cb-f811-45ae-877b-34540c11e5eb.json
  webui/package-lock.json
  webui/package.json
  webui/src/components/DirectoryChooser.jsx
Labels: tech:javascript, module:frontend

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.1.0
# guid: 2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e
#
# Standardized Pull Request Labeler Configuration for subtitle-manager repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix
# Updated for labeler v5 compatibility (removed unsupported count-based size labels)

# TYPE LABELS
type:documentation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.md"
                            - "docs/**/*"
                            - "README*"
                            - "CHANGELOG*"
                            - "TODO*"
                            - "SECURITY*"

type:testing:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*test*"
                            - "test/**"
                            - "testdata/**"
                            - "**/test_*"
                            - "**/*_test.go"

type:maintenance:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".gitignore"
                            - "go.mod"
                            - "go.sum"
                            - "Makefile"
                            - "tools.go"

# TECHNOLOGY LABELS
tech:go:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.go"
                            - "go.mod"
                            - "go.sum"
                            - "cmd/**"
                            - "pkg/**"
                            - "internal/**"
                            - "main.go"

tech:javascript:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.js"
                            - "**/*.jsx"
                            - "**/*.html"
                            - "**/*.css"
                            - "webui/**"

tech:docker:
        - changed-files:
                  - any-glob-to-any-file:
                            - "Dockerfile*"
                            - "docker-compose*"
                            - "docker-stack*"
                            - "docker-init*"

tech:shell:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.sh"
                            - "**/*.bash"
                            - "scripts/**"
                            - "docker-init.sh"

tech:python:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.py"
                            - "doc_update_manager.py"

# MODULE LABELS
module:frontend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "webui/**"
                            - "pkg/webui/**"
                            - "**/*.html"
                            - "**/*.css"
                            - "**/*.js"

module:backend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/**"
                            - "internal/**"
                            - "cmd/**"
                            - "main.go"

module:database:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/database/**"
                            - "pkg/storage/**"
                            - "**/migration*"
                            - "**/db*"

module:api:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/api/**"
                            - "pkg/handlers/**"
                            - "pkg/routes/**"
                            - "**/api*"

module:auth:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/auth/**"
                            - "**/auth*"
                            - "**/security*"

# PROJECT-SPECIFIC LABELS
project:subtitles:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/subtitle/**"
                            - "pkg/format/**"
                            - "cmd/convert/**"
                            - "**/*subtitle*"
                            - "**/*convert*"

project:transcription:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/transcription/**"
                            - "pkg/whisper/**"
                            - "**/transcription*"
                            - "**/transcribe*"

project:whisper:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/whisper/**"
                            - "**/whisper*"
                            - "**/asr*"

project:media:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/media/**"
                            - "pkg/audio/**"
                            - "pkg/video/**"
                            - "**/media*"
                            - "**/audio*"
                            - "**/video*"

# WORKFLOW LABELS
workflow:github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

workflow:automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

workflow:deployment:
        - changed-files:
                  - any-glob-to-any-file:
                            - "docker*"
                            - "Dockerfile*"
                            - "systemd/**"
                            - ".github/workflows/deploy*"

# SIZE LABELS (based on file paths - count-based sizing not supported in v5)
# Note: File count-based labels are not supported in labeler v5
# These labels can be applied manually or through other automation

# AI/AUTOMATION LABELS
codex:
        - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]
