Repository jdfalk/subtitle-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:go, tech:javascript, tech:docker, tech:shell, tech:python, module:frontend, module:backend, module:database, module:api, module:auth, project:subtitles, project:transcription, project:whisper, project:media, workflow:github-actions, github-actions, workflow:automation, automation, workflow:deployment

feat(database): add proto specs and conversions
  .github/doc-updates/0bd05855-d8e7-48e7-b520-bddb726a7302.json
  .github/doc-updates/8b391b80-2cef-454c-900f-28d0d2e33217.json
  .github/doc-updates/b155167d-9ec0-48c5-8bb4-1c31b0de4730.json
  .github/issue-updates/5f854524-5d77-42b9-8526-474345c96574.json
  Makefile
  pkg/database/pb_conversions.go
  pkg/database/pb_conversions_test.go
  pkg/databasepb/databasepb.go
  proto/database.proto
Labels: type:testing, type:maintenance, tech:go, module:backend, module:database

feat(database): add proto specs and conversions
  .github/doc-updates/0bd05855-d8e7-48e7-b520-bddb726a7302.json
  .github/doc-updates/8b391b80-2cef-454c-900f-28d0d2e33217.json
  .github/doc-updates/b155167d-9ec0-48c5-8bb4-1c31b0de4730.json
  .github/issue-updates/5f854524-5d77-42b9-8526-474345c96574.json
  Makefile
  pkg/database/pb_conversions.go
  pkg/database/pb_conversions_test.go
  pkg/databasepb/databasepb.go
  proto/database.proto
Labels: type:testing, type:maintenance, tech:go, module:backend, module:database

feat(auth): add gRPC auth service
  .github/doc-updates/0fb94766-fb96-4b56-98ef-680040f0ab87.json
  .github/doc-updates/3d7d6434-83bd-4455-9c0f-00d37e181390.json
  .github/doc-updates/89d0dd7f-0250-454f-9d73-3ea0efa8785a.json
  .github/issue-updates/112e1e73-0098-45f9-89f2-baffd6df1a40.json
  pkg/authserver/server.go
  pkg/authserver/server_test.go
Labels: type:testing, tech:go, module:backend

feat(auth): add gRPC auth service
  .github/doc-updates/0fb94766-fb96-4b56-98ef-680040f0ab87.json
  .github/doc-updates/3d7d6434-83bd-4455-9c0f-00d37e181390.json
  .github/doc-updates/89d0dd7f-0250-454f-9d73-3ea0efa8785a.json
  .github/issue-updates/112e1e73-0098-45f9-89f2-baffd6df1a40.json
  pkg/authserver/server.go
  pkg/authserver/server_test.go
Labels: type:testing, tech:go, module:backend

refactor(queue): adopt gcommon queue proto
  .github/doc-updates/4970a0fd-13b5-4e1d-b3e7-1c9653257fee.json
  .github/doc-updates/73939f4e-8204-4ac7-b729-8b212b335d34.json
  .github/doc-updates/bcee64c7-e6b1-43fe-8892-38d9ac40c53c.json
  .github/issue-updates/e6037b54-ec36-4b4d-a06e-e40f4371ebff.json
  pkg/queue/message.go
Labels: tech:go, module:backend

refactor(queue): adopt gcommon queue proto
  .github/doc-updates/4970a0fd-13b5-4e1d-b3e7-1c9653257fee.json
  .github/doc-updates/73939f4e-8204-4ac7-b729-8b212b335d34.json
  .github/doc-updates/bcee64c7-e6b1-43fe-8892-38d9ac40c53c.json
  .github/issue-updates/e6037b54-ec36-4b4d-a06e-e40f4371ebff.json
  pkg/queue/message.go
Labels: tech:go, module:backend

feat(config): add protobuf-based config
  .github/doc-updates/6eb34b8c-1342-479d-8847-a9a67042a588.json
  .github/doc-updates/e4a403c1-8a21-442c-a8cb-621877aaaa7a.json
  .github/doc-updates/f729ca44-de32-4136-9bc2-194e93cfbd10.json
  .github/issue-updates/b00c23d7-b3d5-41fa-88e1-ff460ad41d99.json
  cmd/grpcsetconfig.go
  pkg/gcommon/config/config.go
  pkg/grpcserver/server.go
  pkg/grpcserver/server_test.go
  pkg/translator/translator.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_grpc.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  proto/config.proto
  proto/translator.proto
Labels: type:testing, tech:go, module:backend

feat(config): add protobuf-based config
  .github/doc-updates/6eb34b8c-1342-479d-8847-a9a67042a588.json
  .github/doc-updates/e4a403c1-8a21-442c-a8cb-621877aaaa7a.json
  .github/doc-updates/f729ca44-de32-4136-9bc2-194e93cfbd10.json
  .github/issue-updates/b00c23d7-b3d5-41fa-88e1-ff460ad41d99.json
  cmd/grpcsetconfig.go
  pkg/gcommon/config/config.go
  pkg/grpcserver/server.go
  pkg/grpcserver/server_test.go
  pkg/translator/translator.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_grpc.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  proto/config.proto
  proto/translator.proto
Labels: type:testing, tech:go, module:backend

feat(log): add gcommon logrus provider
  .github/doc-updates/1a371050-39ba-4ba9-808a-e9b5185f97e7.json
  .github/doc-updates/7929ec4e-9be7-4d9d-8e62-405c2b0f6a07.json
  .github/doc-updates/e367c3e5-f1de-4981-82a8-553e8ef4f87e.json
  .github/issue-updates/b05bffdc-3c87-4a51-a0a1-22cbf5a598e5.json
  pkg/gcommonlog/logrus_provider.go
  pkg/gcommonlog/logrus_provider_test.go
Labels: type:testing, tech:go, module:backend

feat(log): add gcommon logrus provider
  .github/doc-updates/1a371050-39ba-4ba9-808a-e9b5185f97e7.json
  .github/doc-updates/7929ec4e-9be7-4d9d-8e62-405c2b0f6a07.json
  .github/doc-updates/e367c3e5-f1de-4981-82a8-553e8ef4f87e.json
  .github/issue-updates/b05bffdc-3c87-4a51-a0a1-22cbf5a598e5.json
  pkg/gcommonlog/logrus_provider.go
  pkg/gcommonlog/logrus_provider_test.go
Labels: type:testing, tech:go, module:backend

docs: update CODE_OVERVIEW to include Dockerfile.hybrid entry
  docs/CODE_OVERVIEW.md
Labels: type:documentation

docs: improve formatting in MIGRATION-NOTICE.md for better readability
  scripts/MIGRATION-NOTICE.md
Labels: type:documentation, tech:shell, workflow:automation, automation

style: format primary text in DirectoryChooser for better readability
  webui/src/components/DirectoryChooser.jsx
Labels: tech:javascript, module:frontend

feat(health): add grpc health service
  .github/doc-updates/1ac5214b-582b-4a77-8a50-4bc03fc2fc41.json
  .github/doc-updates/eb681924-50cd-410b-9fc7-d9518ac263af.json
  .github/doc-updates/f6cf58d2-1e82-48d5-87b8-07408a8f2d81.json
  .github/issue-updates/45e66235-28cf-45b0-b7e2-b55bf1dc845b.json
  cmd/grpcserver/main.go
  cmd/grpcserver_cmd.go
  pkg/webserver/health.go
  pkg/webserver/health_test.go
  pkg/webserver/server.go
Labels: type:testing, tech:go, module:backend

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.1.0
# guid: 2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e
#
# Standardized Pull Request Labeler Configuration for subtitle-manager repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix
# Updated for labeler v5 compatibility (removed unsupported count-based size labels)

# TYPE LABELS
type:documentation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.md"
                            - "docs/**/*"
                            - "README*"
                            - "CHANGELOG*"
                            - "TODO*"
                            - "SECURITY*"

type:testing:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*test*"
                            - "test/**"
                            - "testdata/**"
                            - "**/test_*"
                            - "**/*_test.go"

type:maintenance:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".gitignore"
                            - "go.mod"
                            - "go.sum"
                            - "Makefile"
                            - "tools.go"

# TECHNOLOGY LABELS
tech:go:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.go"
                            - "go.mod"
                            - "go.sum"
                            - "cmd/**"
                            - "pkg/**"
                            - "internal/**"
                            - "main.go"

tech:javascript:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.js"
                            - "**/*.jsx"
                            - "**/*.html"
                            - "**/*.css"
                            - "webui/**"

tech:docker:
        - changed-files:
                  - any-glob-to-any-file:
                            - "Dockerfile*"
                            - "docker-compose*"
                            - "docker-stack*"
                            - "docker-init*"

tech:shell:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.sh"
                            - "**/*.bash"
                            - "scripts/**"
                            - "docker-init.sh"

tech:python:
        - changed-files:
                  - any-glob-to-any-file:
                            - "**/*.py"
                            - "doc_update_manager.py"

# MODULE LABELS
module:frontend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "webui/**"
                            - "pkg/webui/**"
                            - "**/*.html"
                            - "**/*.css"
                            - "**/*.js"

module:backend:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/**"
                            - "internal/**"
                            - "cmd/**"
                            - "main.go"

module:database:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/database/**"
                            - "pkg/storage/**"
                            - "**/migration*"
                            - "**/db*"

module:api:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/api/**"
                            - "pkg/handlers/**"
                            - "pkg/routes/**"
                            - "**/api*"

module:auth:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/auth/**"
                            - "**/auth*"
                            - "**/security*"

# PROJECT-SPECIFIC LABELS
project:subtitles:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/subtitle/**"
                            - "pkg/format/**"
                            - "cmd/convert/**"
                            - "**/*subtitle*"
                            - "**/*convert*"

project:transcription:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/transcription/**"
                            - "pkg/whisper/**"
                            - "**/transcription*"
                            - "**/transcribe*"

project:whisper:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/whisper/**"
                            - "**/whisper*"
                            - "**/asr*"

project:media:
        - changed-files:
                  - any-glob-to-any-file:
                            - "pkg/media/**"
                            - "pkg/audio/**"
                            - "pkg/video/**"
                            - "**/media*"
                            - "**/audio*"
                            - "**/video*"

# WORKFLOW LABELS
workflow:github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

github-actions:
        - changed-files:
                  - any-glob-to-any-file:
                            - ".github/workflows/**"
                            - ".github/actions/**"

workflow:automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

automation:
        - changed-files:
                  - any-glob-to-any-file:
                            - "scripts/**"
                            - "**/automation/**"

workflow:deployment:
        - changed-files:
                  - any-glob-to-any-file:
                            - "docker*"
                            - "Dockerfile*"
                            - "systemd/**"
                            - ".github/workflows/deploy*"

# SIZE LABELS (based on file paths - count-based sizing not supported in v5)
# Note: File count-based labels are not supported in labeler v5
# These labels can be applied manually or through other automation

# AI/AUTOMATION LABELS
codex:
        - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]
